<ion-view>
    <ion-content>
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>सीप विकास तालिम</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>पुनर्लेखन</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>सीप विकास तालिम केन्द्रहरुको नामावली</span>
                    </div>

                    <div class="content-listing stacked-content">
                        <div class="selected-content-wrap">
                            <span class="selected-content" ng-click="skillDevelopmentCategories.show()">{{skillDevelopmentCategoriesData.selectedTrainingCenterCategories || 'क्षेत्र'}}</span>
<!--                        <input class="optional-box" type="text" placeholder="Specify Training Center" ng-show="skillDevelopmentData.selectedTrainingCenter === 'Other Training Center'" />-->
                        </div><!--
                        --><button class="btn-default btn-secondary" ng-click="skillDevelopmentCategories.show()">सुचिकृत क्षेत्र</button>
                        
                        <div class="selected-content-wrap training-centers" ng-show="trainingCenters != ''">
                            <span class="selected-content" ng-click="skillDevelopment.show()">{{skillDevelopmentData.selectedTrainingCenter || 'तालिम केन्द्र' }}</span>
                        <input class="optional-box" type="text" placeholder="तालिम केन्द्रको नाम" ng-show="skillDevelopmentData.selectedTrainingCenter === 'अरु तलिम केन्द्र'" />
                        </div><!--
                        --><button ng-show="trainingCenters != ''" class="btn-default btn-secondary" ng-click="skillDevelopment.show()">तालिम केन्द्रहरु</button>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">तालिम शुल्क<span>(रु)</span></label><!--
                        --><input type="number" ng-model="skillDevelopmentData.manpowerFee" />
                    </div>

                    <div class="content-listing">
                        <label class="count-label">थप खर्चहरु<span>(रु)</span></label><!--
                        --><input type="number" />
                    </div>
                </div>
                <a href="#/app/dashboard" class="btn-default">सेभ गर्नुहोस</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>Skill Development</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>Reset</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>Skill Training Institute List</span>
                    </div>


                      <form ng-submit="SkillDevelopmentSubmit(skillDevelopmentForm.$valid)" name="skillDevelopmentForm" novalidate id="skillDevelopmentForm">

                    <div class="content-listing stacked-content">
                        <div class="selected-content-wrap">
                            <span class="selected-content" name="categotyOption" ng-click="skillDevelopmentCategories.show()">{{skillDevelopmentCategoriesData.selectedTrainingCenterCategories || 'Select Category'}} </span>
<!--                        <input class="optional-box" type="text" placeholder="Specify Training Center" ng-show="skillDevelopmentData.selectedTrainingCenter === 'Other Training Center'" />-->
                        </div><!--
                        --><input type="button" class="btn-default btn-secondary" ng-click="skillDevelopmentCategories.show()" value="Category"/>
                        <div class="selected-content-wrap training-centers" ng-show="trainingCenters != ''">
                            <span class="selected-content" ng-click="skillDevelopment.show()">{{skillDevelopmentData.selectedTrainingCenter || 'Select Training Center'}}</span>
                        <input class="optional-box" type="text" placeholder="Specify Training Center" ng-show="skillDevelopmentData.selectedTrainingCenter === 'Other Training Center'" />
                        </div>
                        <input type="button" class="btn-default btn-secondary" ng-show="trainingCenters != ''" ng-click="skillDevelopment.show()" value="Training Institutes" />
                    </div>

                    <div class="content-listing">
                        <label class="count-label">Training Cost<span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="skillDevelopmentData.trainingFee" name="trainingFee"  required ng-readonly="readonly==true"/>
                          <span ng-show="(skillDevelopmentForm.trainingFee.$dirty || submitted) && skillDevelopmentForm.trainingFee.$error.required"> Trainning Fee is required</span>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">Additional Cost <span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="skillDevelopmentData.additionalCost" name="additionalCost" required />
                        <span ng-show="(skillDevelopmentForm.additionalCost.$dirty || submitted) && skillDevelopmentForm.additionalCost.$error.required">Additional Cost is required</span>
                    </div>

                    <button type="submit" class="btn-default">Save</button>
                </form>
                </div>
                
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
