<ion-view>
    <ion-content>
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left header-full">
                        <a href=""><span>सुचिकृत क्षेत्र विवरण</span></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div>
                </div>

                <div class="content-listing-wrap clearfix">
                    <div class="content-listing">
                        <div class="table-wrap">
                            <ion-scroll zooming="false" direction="xy" style="height: 400px">
                                <table class="remove-first-tr">
                                    <thead>
                                        <tr>
                                            <th>नाम</th>
                                            <th>ठेगाना</th>
                                            <th>छेत्र</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="trainingCenter in trainingCenterDetail">
                                            <td>{{trainingCenter.name}}</td>
                                            <td>{{trainingCenter.address}}</td>
                                            <td>{{trainingCenter.category}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ion-scroll>
                        </div>
                    </div>
                </div>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left header-full">
                        <a href=""><span>Training Institutes Details</span></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div>
                </div>

                <div class="content-listing-wrap clearfix">
                    <div class="content-listing">
                        <div class="table-wrap">
                            <ion-scroll zooming="false" direction="xy" style="height: 400px">
                                <table class="remove-first-tr">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Category</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="trainingCenter in trainingCenterDetail">
                                            <td>{{trainingCenter.name}}</td>
                                            <td>{{trainingCenter.address}}</td>
                                            <td>{{trainingCenter.category}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ion-scroll>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
