<ion-view>
    <ion-content>
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>स्वास्थ्य</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>पुनर्लेखन</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>खर्च</span>
                    </div>

                    <div class="content-listing">
                        <p>स्वास्थ्य परिक्षणको अवधिमा उल्लेखित शुल्क लाग्नेछ</p>
                        <ul>
                            <li>पुरुष रु २९४०</li>
                            <li>महिला रु ३१००</li>
                            <li>मलेसिया जान बायोमेट्रिक्स जाँच अनिवार्य छ ।</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <h4>आवश्यक कागजात</h4>
                        <ion-checkbox>पासपोर्ट साइजको फोटो ३ प्रती</ion-checkbox>
                        <ion-checkbox>राहदानी फोटोकपी</ion-checkbox>
                    </div>

                    <div class="content-listing stacked-content">
                        <h4>स्वास्थ्य परिक्षण केन्द्र</h4>
                        <div class="selected-content-wrap">
                            <span class="selected-content" ng-click="healthCenter.show()">{{healthcenterData.selectedHealthCenter}}</span>
                        <input class="optional-box" type="text" placeholder="स्वास्थ्य केन्द्रको नाम" ng-show="healthcenterData.selectedHealthCenter == 'अरू स्वास्थ्य केन्द्र'" />
                        </div><!--
                         --><button class="btn-default btn-secondary" ng-click="healthCenter.show()">स्वास्थ्य केन्द्रहरुको सूची</button>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">स्वास्थ्य परिक्षण<span>(रु)</span></label><!--
                        --><input type="number" ng-model="healthCheckupFee" />
                    </div>

                    <div class="content-listing">
                        <label class="count-label">थप खर्चहरु<span>(रु)</span></label><!--
                        --><input type="number" ng-model="additionalCost" />
                    </div>
                </div>
                <a href="#/app/dashboard" class="btn-default">सेभ गर्नुहोस</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>Health Checkup</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>Reset</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>Costing</span>
                    </div>

                    <div class="content-listing">
                        <p>Following cost will be incurred during health checkups:</p>
                        <ul>
                            <li>Men: Rs. 2940</li>
                            <li>Female: Rs. 3100</li>
                            <li>Biometrics checkup is mandatory for travel to Malasiya</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <h4>Documents Required</h4>
                        <ion-checkbox>3 pp size photos</ion-checkbox>
                        <ion-checkbox>Passport photocopy</ion-checkbox>
                    </div>
                    <form ng-submit="HealthCheckupSubmit(heathCheckForm.$valid)" name="heathCheckForm" novalidate id="heathCheckForm">

                    <div class="content-listing stacked-content">
                        <h4>Health Checkup Centers</h4>
                        <div class="selected-content-wrap">
                            <span class="selected-content" ng-click="healthCenter.show()">{{healthcenterData.selectedHealthCenter}}</span>

                        <!-- <input class="optional-box" type="text" placeholder="Specify Health Center" ng-show="healthcenterData.selectedHealthCenter == 'Other Health Center'" /> -->
                        </div><!--
                         --><input type="button" class="btn-default btn-secondary" ng-click="healthCenter.show()" value="Health Checkup Centers"/>
                    </div>

 

                    <div class="content-listing">
                        <label class="count-label">Health Checkup Expense <span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="healthcenterData.healthCheckupFee" required name="healthCheckupFee" ng-readonly="readonly==true" />
                        <span ng-show="(heathCheckForm.healthCheckupFee.$dirty || submitted) && heathCheckForm.healthCheckupFee.$error.required">Checkup Fee is required</span>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">Additional Expenses <span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="healthcenterData.additionalCost" required name="additionalCost" />
                        <span ng-show="(heathCheckForm.additionalCost.$dirty || submitted) && heathCheckForm.additionalCost.$error.required">Additional Cost is required</span>
                    </div>
                      <button type="submit" class="btn-default">Save</button>
                  </form>

                </div>
               
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
