<ion-modal-view class="modal-default">
    <ion-header-bar class="bar bar-header">
        <h1 ng-show="selectedLanguage == 'Nepali'" class="title">स्वास्थ्य केन्द्रहरु</h1>
        <h1 ng-show="selectedLanguage == 'English'" class="title">Health Checkup Centers</h1>
        <button class="button button-clear btn-close" ng-click="closeModal()"><i class="ion ion-ios-close-outline"></i></button>
    </ion-header-bar>    
    <ion-content scroll="false">
          <div class="item item-input searchHolder">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-show="selectedLanguage == 'Nepali'" type="search" placeholder="खोज" ng-model="healthCenter.searchQuery"/>
            <input ng-show="selectedLanguage == 'English'" type="search" placeholder="Search" ng-model="healthCenter.searchQuery"/>
          </div>
    </ion-content>
    <ion-content>
        <ion-list>
            <h3 ng-show="selectedLanguage == 'Nepali'">एउटा छान्नुहोस् <i class="ion-checkmark"></i></h3>
            <h3 ng-show="selectedLanguage == 'English'">Select One <i class="ion-checkmark"></i></h3>
                <label ng-repeat="healthcenter in healthcenters | filter: healthCenter.searchQuery">
                    <ion-radio ng-value="healthcenter.name"  ng-click="closeModal()" ng-model="$parent.healthcenterData.selectedHealthCenter">{{healthcenter.name}}</ion-radio>
                </label>
            <button class="btn-default btn-load" ng-click="loadmoreHealthCenter()" ng-show="selectedLanguage==='English'">Load More</button>
            <button class="btn-default btn-load" ng-click="loadmoreHealthCenter()" ng-show="selectedLanguage==='Nepali'">थप हेर्नुहोस्</button>
            </ion-list>
        <div class="blank-space"></div>
    </ion-content>
</ion-modal-view>