<ion-view>
    <ion-content id="passport-info">
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>राहदानी सम्बन्धि जानकारी</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>सयुंक्त अरब इमिरेट्स</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>पुनर्लेखन</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>राहदानी कसरी प्राप्त गर्ने</span>
                    </div>

                    <div class="content-listing">
                        <div class="circle-wrap"><span class="circle-number">१</span></div><!--
                        --><ul>
                            <li>एमआरपी फोटो खिच्नुहोस, नागरिकता फोटोकपी गर्नुहोस, राहदानी निवेदन फारम भर्नुहोस</li>
                            <li>अन्तर जिल्ला बसाईसराई गरेमा निवेदन सहित अन्तर जिल्ला बसाईसराईको कागजात पेश गर्नुहोस</li>
                            <li>विवाहित महिलाका लागि, निवेदन सहित विवाह दर्ताको फोटोकपी पेश गर्नुहोस ।</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <div class="circle-wrap"><span class="circle-number">२</span></div><!--
                        --><ul>
                            <li>जिल्ला प्रशासन कार्यालयमा उपस्थित भई निवेदन दिनुहोस ।</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <div class="circle-wrap"><span class="circle-number">३</span></div><!--
                        --><ul>
                            <li>छिटो राहदानी प्राप्त गर्नका लागी राहदानी विभाग काठमाडौँमा सम्पूर्ण कागजात सहित निवेदन पेश गर्नुहोस</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <div class="circle-wrap"><span class="circle-number">४</span></div><!--
                        --><ul>
                            <li>नियमित प्रक्रियाबाट राहदानी प्राप्त गर्न  रु ५००० तिर्नुहोस, छिटो (१ वा २ वा ३ दिनमा) प्राप्त गर्न रु १५,००० वा रु १२,००० वा रु १०,००० तिर्नुहोस। साथमा रसिद सहित निवेदन फारम पेश गर्नुहोस</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <h4>आवश्यक कागजात</h4>
                        <ul>
                            <li>एम.आर.पी फोटो</li>
                        </ul><!--
                        -->
                    </div>
                    
                    <div class="content-listing">
                        <ul>
                            <li>नियमित प्राप्त गर्न–नागरिकता फोटोकपी २ प्रति</li>
                            <li>छिटो प्राप्त गर्न–नागरिकता फोटोकपी ३ प्रति</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <ul>
                            <li>नियमित प्राप्त गर्न– भरिएको एम.आर.पी फारम २ प्रति</li>
                            <li>छिटो प्राप्त गर्न– भरिएको एम.आर.पी फारम ३ प्रति</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <ul>
                            <li>नियमित प्राप्त गर्न–नगद रसिद रु ५,०००</li>
                            <li>१ दिनमा प्राप्त गर्न– नगद रसिद रु १५,०००</li>
                             <li>२ दिनमा प्राप्त गर्न– नगद रसिद रु १२,०००</li>
                              <li>३ दिनमा प्राप्त गर्न– नगद रसिद रु १०,०००</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <ul>
                            <li>विवाहित महिलाका लागि, विवाह दर्ता प्रमाणपत्रको फोटोकपी १ प्रति</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <h4>रुजु सुची <span>(एकपटक प्रक्रिया पुरा भएकोमा टिक <i class="ion ion-checkmark"></i> चिन्ह लगाउनुहोस)</span></h4>
                        <ion-checkbox>सक्कल नागरिकता र फोटोकपी</ion-checkbox>
                        <ion-checkbox>पुरानो पासपोर्ट भएमा त्यसको फोटोकपी</ion-checkbox>
                        <ion-checkbox>निवेदन फारम भरि सम्पन्न भएको</ion-checkbox>
                        <ion-checkbox>विवाह दर्ता प्रमाणपत्र</ion-checkbox>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">राहदानी शुल्क <span>(रु)</span></label><!--
                        --><input type="number" />
                    </div>

                    <div class="content-listing">
                        <label class="count-label">यात्रा, खाना, आवास, आदि खर्च <span>(रु)</span></label><!--
                        --><input type="number" />
                    </div>
                </div>
                <a href="#/app/dashboard" class="btn-default">सेभ गर्नुहोस</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>Passport Info</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a ng-click="resetCost()"><i class="ion ion-loop"></i>Reset</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>How to obtain passport ?</span>
                        </div>

                    <div class="content-listing">
                        <div class="circle-wrap"><span class="circle-number">1</span></div><!--
                        --><ul>
                            <li>Take MRP photo, get photocopy of citizenship & fillup the passport application form.</li>
                            <li>For district migration, submit district migration certificate along with the applicaiton form.</li>
                            <li>For married women, submit photocopy of marriage certificate along with the applicaiton form.</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <div class="circle-wrap"><span class="circle-number">2</span></div><!--
                        --><ul>
                            <li>Visit Chief District Office (CDO) and submit the application.</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <div class="circle-wrap"><span class="circle-number">3</span></div><!--
                        --><ul>
                            <li>For fast track submit your application along with all documents at Department of Passport, Kathmandu.</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <div class="circle-wrap"><span class="circle-number">4</span></div><!--
                        --><ul>
                            <li>Pay Rs. 5,000 /- for regular passport and Rs. 15,000 /- or Rs. 12000 or Rs.10000 for fast track(i.e. In 1 or 2 or 3 days). Collect receipt and submit with application form.</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <h4>Required Documents</h4>
                        <ul>
                            <li>MRP photo</li>
                        </ul>
                    </div>
                    
                    <div class="content-listing">
                        <ul>
                            <li>Regular - 2 Copies of citizenship</li>
                            <li>Fast track - 3 Copies of citizenship</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <ul>
                            <li>Regular - 2 Copies of filled MRP form</li>
                            <li>Fast track - 3 Copies of filled MRP form</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <ul>
                            <li>Regular - Receipt of Rs. 5,000 /-NRs.</li>
                            <li>In 1 day - Receipt of Rs. 15,000 /-NRs.</li>
                            <li>In 2 day - Receipt of Rs. 12,000 /-NRs.</li>
                            <li>In 3 day - Receipt of Rs. 10,000 /-NRs.</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <ul>
                            <li>For married women, 1 copy of marriage certificate</li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <h4>Checklist <span>(Tick the box <i class="ion ion-checkmark"></i> once completed)</span></h4>
                        <ion-checkbox>Photo copy and original citizenship</ion-checkbox>
                        <ion-checkbox>Photo copy of old Passport (if available)</ion-checkbox>
                        <ion-checkbox>Filled MRP application form</ion-checkbox>
                        <ion-checkbox>Marriage registration certificate</ion-checkbox>
                    </div>

                    
                        <form ng-submit="PassportSubmit(passportForm.$valid)" name="passportForm" novalidate id="passportForm">

                    <div class="content-listing">
                        <label class="count-label">Passport Cost<span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="passportData.passportCost" name="passportCost" required ng-readonly="readonly==true" /> <!-- ng-readonly="readonly==true" -->

                          <span ng-show="(passportForm.passportCost.$dirty || submitted) && passportForm.passportCost.$error.required">Passport Cost is required</span>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">Travel/ Food/ Lodging etc Cost<span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="passportData.additionalCost" name="additionalCost" required /> <!-- ng-readonly="readonly==true" -->
                         <span ng-show="(passportForm.additionalCost.$dirty || submitted) && passportForm.additionalCost.$error.required">Additional Cost is required</span>
                    </div>
                    <button type="submit" class="btn-default">Save</button>

                    <!-- <a href="#/app/dashboard" class="btn-default">Save</a> -->
                </form>
                </div>
                
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
