<ion-view>
    <ion-content id="passport-info">
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left header-full">
                        <a href=""><span>राहदानी कागजातको नमूनाहरू</span><i class="ion-help-circled"></i></a><!--
                        --><span>सयुंक्त अरब इमिरेट्स</span>
                    </div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-listing">
                        <h4>आवश्यक कागजात</h4>
                        <ul>
                            <li>एम.आर.पी फोटो</li>
                        </ul><!--
                        --><a href="">नमूना <i class="ion ion-ios-download-outline"></i></a>
                    </div>
                    
                    <div class="content-listing">
                        <ul>
                            <li>नागरिकताको फोटोकपी</li>
                        </ul><!--
                        --><a href="">नमूना <i class="ion ion-ios-download-outline"></i></a>
                    </div>

                    <div class="content-listing">
                        <ul>
                            <li>भरिएको एम.आर.पी फारम</li>
                        </ul><!--
                        --><a href="">नमूना <i class="ion ion-ios-download-outline"></i></a>
                    </div>

                    <div class="content-listing">
                        <ul>
                            <li>रसिद</li>
                        </ul><!--
                        --><a href="">नमूना <i class="ion ion-ios-download-outline"></i></a>
                    </div>

                    <div class="content-listing">
                        <ul>
                            <li>विवाह दर्ता प्रमाणपत्रको फोटोकपी</li>
                        </ul><!--
                        --><a href="">नमूना <i class="ion ion-ios-download-outline"></i></a>
                    </div>
                    <p>थप जानकारीका लागि <a href="#" onclick="window.open('http://www.nepalpassport.gov.np', '_system', 'location=yes'); return false;">www.nepalpassport.gov.np</a>मा हेर्नुहुन अनुरोध छ ।</p>
                </div>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left header-full">
                        <a href=""><span>Passport Documents samples</span><i class="ion-help-circled"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-listing">
                        <h4>Required Documents</h4>
                        <ul>
                            <li>MRP photo</li>
                        </ul><!--
                        --><a href="">Sample <i class="ion ion-ios-download-outline"></i></a>
                    </div>
                    
                    <div class="content-listing">
                        <ul>
                            <li>Copies of Citizenship</li>
                        </ul><!--
                        --><a href="">Sample <i class="ion ion-ios-download-outline"></i></a>
                    </div>

                    <div class="content-listing">
                        <ul>
                            <li>Filled MRP application form</li>
                        </ul><!--
                        --><a href="">Sample <i class="ion ion-ios-download-outline"></i></a>
                    </div>

                    <div class="content-listing">
                        <ul>
                            <li>Receipt</li>
                        </ul><!--
                        --><a href="">Sample <i class="ion ion-ios-download-outline"></i></a>
                    </div>

                    <div class="content-listing">
                        <ul>
                            <li>Copy of marriage certificate</li>
                        </ul><!--
                        --><a href="">Sample <i class="ion ion-ios-download-outline"></i></a>
                    </div>
                    
                    <p>Please go to the <a href="#" onclick="window.open('http://www.nepalpassport.gov.np', '_system', 'location=yes'); return false;">www.nepalpassport.gov.np</a> for more details.</p>
                </div>
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
