<ion-view>
    <ion-content>
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left header-full">
                        <a href=""><span>राहदानी सम्बन्धित जानकारी</span><i class="ion-ios-book"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <a href=""><i class="ion ion-volume-medium"></i></a>
                    </div>
                    <div class="content-listing">
                        <h4>राहदानी</h4>
                        <p>राहदानीहरु या त जिल्ला प्रशासन कार्यालयबाट जारी गरिन्छ या राहदानी विभाग, काठमाडौँले प्रदान गर्ने गर्छ । राहदानी जारी गर्ने मुख्य आधार भनेको व्यक्तिको नागरिकताको प्रमाणपत्र नै हो । यो प्रमाण–पत्र केवल नेपाली नागरिकले १६ वर्षको उमेर पुगेपछि प्राप्त गर्दछ । यसै नागरिकता प्रमाण–प्रत्रको आधारमा जिल्ला प्रशासन कार्यालयले (जिप्रका) राहदानी जारी गर्ने गर्दछ र सम्बन्धित जिल्ला प्रशासन कार्यालयले सिफारिस गरेको खण्डमा राहदानी कार्यालय, काठमाडौँले पनि राहदानी जारी गर्ने गर्दछ । </p>
                    </div>
                    <div class="content-listing">
                        <h4>Cost</h4>
                        <p>राहदानी बनाँउदा लाग्ने कुल खर्च रु ५००० हो । यो राहदानी सम्बन्धित जिल्ला प्रशासन कार्यालय सम्म आई पुग्न लगभग १ महिना लाग्छ र त्यसपछि १ हप्ता भित्र सम्बन्धित व्यक्तिलाई प्रदान गरिन्छ । यदि काठमाडौँ–स्थित राहदानी कार्यालयबाट लिनु पर्ने अवस्थामा रु १०००० शुल्क बुझाई १ हप्ता भित्र प्राप्त गर्न सकिन्छ । आकस्मिक रुपमा राहदानी निकाल्नु पर्ने अवस्थामा रु १५००० शुल्क बुझाई ४ दिन भित्र प्राप्त गर्न सकिन्छ । यस अवस्थामा जिल्लाबाट काठमाडौँ सम्म आउने–जाने खर्च अलग्गै लाग्नेछ ।</p>
                    </div>
                    <div class="content-listing">
                        <h4>बैदेशिक रोजगारका लागी जाने मुलुकहरु</h4>
                        <p>राहदानी प्राप्त गरिसके पछि, बैदेशिक रोजगारमा जाने कामदारले कुन मुलुकमा जाने भन्ने बारे विचार गर्छन । बैदेशिक रोजगारीको स्विकृती प्राप्त गरेका लगभग ११० मुलुकहरु छन् । यहाँ विशेष याद राख्नुपर्ने कुरा के भने, नेपाल सरकारले इराकलाई बैदेशिक रोजगारका लागी निषेध गरेको छ भने, हङ्कङ सरकारले नेपाली कामदारहरुलाई निषेध गरेको छ ।</p>
                    </div>
                    <div class="content-listing">
                        <p>कुवेत, साउदी अरेबिया, युएई, कतार र मलेसिया जस्ता पाँचवटा देशहरुको विवरण र जनसंख्या सम्बन्धित विस्तृत विवरण तयार गरिएको छ ।</p>
                    </div>
                    <div class="content-listing">
                        <p>बैदेशिक रोजगारमा जाने दुइवटा तरिकाहरु छन्, एउटा व्यक्तिको आफ्नो सम्पर्कबाट र अर्को कुनै रोजगार–कम्पनीको मार्फत ।</p>
                    </div>
                </div>
                <a href="#/app/dashboard" class="btn-default">सेभ गर्नुहोस</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left header-full">
                        <a href=""><span>Passport Info</span><i class="ion-ios-book"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <a href=""><i class="ion ion-volume-medium"></i></a>
                    </div>
                    <div class="content-listing">
                        <h4>Passport</h4>
                        <p>Passports are either issued form District Administration Office in the district or form the passport Department in Kathmandu. The main requisite for the issuance of passport is the possession of citizenship certificate. Citizenship certificate is issued to Nepali citizens at the age of 16. On the basis of citizenship card, the passport is issued by the District Administration Officer (DAO), and in case of recommendation of DAO by the passport office in Kathmandu. 
                        </p>
                    </div>
                    <div class="content-listing">
                        <h4>Cost</h4>
                        <p>The cost of the passport is Rs 5000 and the passport takes 1 month to arrive at the DAO. The passport from the passport office is Rs 10000 and issued within a week. An urgent issuance of passport from the passport office takes 4 days and costs Rs 15000. Additional cost includes travel to Kathmandu from the district which needs to be added. </p>
                    </div>
                    <div class="content-listing">
                        <h4>Countries for Foreign employment migration </h4>
                        <p>After obtaining passport the potential migrant will think of which country to go. There are 110 countries that have been approved for foreign employment. The special reminder is countries that have been prohibited by Government for Foreign Employment (Iraq) and prohibited by Hongkong Government for Nepalese workers. </p>
                    </div>
                    <div class="content-listing">
                        <p>The details and demographic data for five countries will prepared which include Kuwait, Saudi Arabia, UAE, Qatar and Malaysia.</p>
                    </div>
                    <div class="content-listing">
                        <p>There are two ways of going for foreign employment, through one’s contacts or through a recruitment agency. </p>
                    </div>
                </div>
                <a href="#/app/passport" class="btn-default">Back</a>
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
