<ion-view>
    <ion-content>
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left header-full">
                        <a href=""><span>सम्झौता सम्बन्धि जानकारी</span></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div>
                </div>
                <div class="content-listing-wrap clearfix">                
                    <div class="content-listing">
                        <label class="count-label">मासिक तलब<span>(रु)</span></label><!--
                        --><input type="number" class="result-data-static" />
                    </div>
                    <div class="content-listing">
                        <label class="count-label">सम्झौता अवधि–महिनामा<span>(रु)</span></label><!--
                        --><input type="number" class="result-data-static"/>
                    </div>
                    
                    <div class="content-listing">
                        <label class="count-label">आबास खर्च(मासिक) <span>(रु)</span></label><!--
                    --><input type="number" class="result-data-static" />
                    </div>
                    <div class="content-listing">
                        <label class="count-label">खाना खर्च(मासिक)<span>(रु)</span></label><!--
                    --><input type="number" class="result-data-static" />
                    </div>
                    <div class="content-listing">
                        <label class="count-label">फोन खर्च(मासिक)<span>(रु)</span></label><!--
                    --><input type="number" class="result-data-static" />
                    </div>
                    <div class="content-listing">
                        <label class="count-label">यातायात खर्च(मासिक)<span>(रु)</span></label><!--
                    --><input type="number" class="result-data-static" />
                    </div>
                    <div class="content-listing">
                        <label class="count-label">अन्य खर्च(मासिक)<span>(रु)</span></label><!--
                    --><input type="number" class="result-data-static" />
                    </div>
                    <div class="content-listing">
                        <label class="count-label">कुल खर्च(मासिक)<span>(रु)</span></label><!--
                    --><span class="result-data-static"> <span/>
                    </div>
                    <div class="content-listing">
                        <label class="count-label">कुल खर्च(सम्झौता अवधि)<span>(रु)</span></label><!--
                    --><span class="result-data-static"> <span/>
                    </div>
                </div>
                <a href="#/app/dashboard" class="btn-default">सेभ गर्नुहोस</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left header-full">
                        <a href=""><span>Contract Information</span></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div>
                </div>
                <div class="content-listing-wrap clearfix">  

                <form ng-submit="ContractSubmit(contractForm.$valid)" name="contractForm" novalidate id="contractForm">              
                    <div class="content-listing">
                        <label class="count-label">Monthly Income<span>(Rs.)</span></label><!--
                    --><input type="number" class="result-data-static" ng-model="contractData.nepaliMonthlyIncome" string-to-number readonly /><!--
                    -->({{priceSign}}.)<input type="number" class="result-data-static" ng-model="contractData.foreignMonthlyIncome"  name="foreignMonthlyIncome" required ng-change="onChangePrice()"  />
                     <span ng-show="(contractForm.foreignMonthlyIncome.$dirty || submitted) && contractForm.foreignMonthlyIncome.$error.required">Monthly income is required</span>
                    </div>
                    <div class="content-listing">
                        <label class="count-label">Contract Period-Months<span></span></label><!--
                    --><input type="number" class="result-data-static" ng-model="contractData.contractPeriod" name="contractPeriod" required ng-change="onChangePrice()"/>
                     <span ng-show="(contractForm.contractPeriod.$dirty || submitted) && contractForm.contractPeriod.$error.required">Contract peroid is required</span>

                    </div>
                    

                    <div class="content-listing">
                        <label class="count-label">Housing Expenses(Monthly)<span>(Rs.)</span></label><!--
                         --><input type="number" class="result-data-static" ng-model="contractData.nepaliHousingExpense" readonly /><!--
                    -->({{priceSign}}.)<input type="number" class="result-data-static" ng-model="contractData.foreignHousingExpense" name="foreignHousingExpense" ng-change="onChangePrice()" />
                    <span ng-show="(contractForm.foreignHousingExpense.$dirty || submitted) && contractForm.foreignHousingExpense.$error.required">House expense is required</span>



                    </div>
                    <div class="content-listing">
                        <label class="count-label">Food Expenses(Monthly)<span>(Rs.)</span></label><!--
                         --><input type="number" class="result-data-static" ng-model="contractData.nepaliFoodExpense" readonly /><!--
                    -->({{priceSign}}.)<input type="number" class="result-data-static" ng-model="contractData.foreignFoodExpense" name="foreignFoodExpense" ng-change="onChangePrice()" />
                     <span ng-show="(contractForm.foreignFoodExpense.$dirty || submitted) && contractForm.foreignFoodExpense.$error.required">Food expense is required</span>
                    </div>
                    <div class="content-listing">
                        <label class="count-label">Phone Expenses(Monthly)<span>(Rs.)</span></label><!--
                         --><input type="number" class="result-data-static" ng-model="contractData.nepaliPhoneExpense" readonly  /><!--
                    -->({{priceSign}}.)<input type="number" class="result-data-static" ng-model="contractData.foreignPhoneExpense" name="foreignPhoneExpense" required ng-change="onChangePrice()" />
                    <span ng-show="(contractForm.foreignPhoneExpense.$dirty || submitted) && contractForm.foreignPhoneExpense.$error.required">Phone expense is required</span>

                    </div>
                    <div class="content-listing">
                        <label class="count-label">Transportation Expenses(Monthly)<span>(Rs.)</span></label><!--
                         --><input type="number" class="result-data-static" ng-model="contractData.nepaliTransportExpense" readonly  /><!--
                    -->({{priceSign}}.)<input type="number" class="result-data-static" ng-model="contractData.foreignTransportExpense" name="foreignTransportExpense" required ng-change="onChangePrice()" />
                     <span ng-show="(contractForm.foreignTransportExpense.$dirty || submitted) && contractForm.foreignTransportExpense.$error.required">Transportation expense is required</span>
                    </div>
                    <div class="content-listing">
                        <label class="count-label">Any Other Expenses(Monthly)<span>(Rs.)</span></label><!--
                         --><input type="number" class="result-data-static" ng-model="contractData.nepaliOtherExpense" readonly /><!--
                    -->({{priceSign}}.)<input type="number" class="result-data-static" ng-model="contractData.foreignOtherExpense" name="foreignOtherExpense" ng-change="onChangePrice()" />
                    </div>
                    <div class="content-listing">
                        <label class="count-label">Total Expenses(Monthly)<span>(Rs.)</span></label><!--
                         --><input type="number" class="result-data-static" readonly ng-model="contractData.nepaliTotalExpense" /><!--
                    -->({{priceSign}}.)<input type="number" class="result-data-static" readonly ng-model="contractData.foreignTotalExpense"/>
                    </div>

                     <div class="content-listing">
                        <label class="count-label">Total Expenses(Contract Period)<span>(Rs.)</span></label><!--
                         --><input type="number" class="result-data-static" readonly ng-model="contractData.nepaliTotalExpenseContract" id="nepaliTotalExpenseContract" /><!--
                    -->({{priceSign}}.)<input type="number" class="result-data-static" readonly ng-model="contractData.foreignTotalExpenseContract"  id="foreignTotalExpenseContract"/>
                    </div>
                    <div class="content-listing">
                        <label class="count-label">Total Income(Contract Period)<span>(Rs.)</span></label><!--
                         --><input type="number" class="result-data-static" readonly ng-model="contractData.nepaliTotalIncomeContract" id="nepaliTotalIncomeContract" /><!--
                    -->({{priceSign}}.)<input type="number" class="result-data-static" readonly ng-model="contractData.foreignTotalIncomeContract" id="foreignTotalIncomeContract"/>
                    </div>
                        <div class="content-listing">
                        <label class="count-label">Total Income<span>(Rs.)</span></label><!--
                         --><input type="number" class="result-data-static" readonly ng-model="contractData.nepaliTotalIncomes" /><!--
                    -->({{priceSign}}.)<input type="number" class="result-data-static" readonly ng-model="contractData.foreignTotalIncomes"/>
                    </div>
                       <button type="submit" class="btn-default">Save</button>
                   </form>
                </div>
              
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>