<ion-view>
    <ion-content >
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left header-full">
                        <a href=""><span>सम्झौता कागज सामग्री</span></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header clearfix">
                        <span>सम्झौता पत्र वा करारनामामा निम्न लिखित कुराहरु उल्लेख गरिएको हुनुपर्दछ :</span>
                    </div>
                    <div class="content-listing">
                        <ul class="lisitng-full">
                            <li><p>रोजगारदाता कम्पनीको नाम</p></li>
                            <li><p>कामदारले गर्नुपर्ने काम/परिक्षण अवधि</p></li>
                            <li><p>तलब सुविधा/मासिक तलब/काम गर्ने समय</p></li>
                            <li><p>खाने तथा बस्ने सुविधा</p></li>
                            <li><p>आउने जाने खर्च (हवाई यात्रा खर्च कसले व्यहोर्ने कम्पनी कि आफैले)</p></li>
                            <li><p>करार अवधि थप हने/नहुने</p></li>
                            <li><p>दुर्घटना बीमा भए/नभएको</p></li>
                            <li><p>विदाको व्यवस्था</p></li>
                            <li><p>स्वास्थ्य परीक्षण खर्च कसले व्यहोर्ने (कम्पनी वा स्वयं)</p></li>
                            <li><p>औषधी उपचार सुविधा</p></li>
                            <li><p>दैनिक काम गर्ने अवधि</p></li>
                            <li><p>ओभरटाइमको व्यवस्था</p></li>
                            <li><p>अन्य आवश्यक कुराहरु</p></li>
                        </ul>
                    </div>
                </div>
                <a href="#/app/contract" class="btn-default btn-back">पछाडी</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left header-full">
                        <a href=""><span>Content of contract paper </span></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header clearfix">
                        <span>The following information must be mentioned in the contract paper: </span>
                    </div>

                    <div class="content-listing">
                        <ul class="lisitng-full">
                            <li><p>Name  of the employer company</p></li>
                            <li><p>Nature of the occupation/probation period</p></li>
                            <li><p>Monthly Salary/Working hour/ Additional benefits </p></li>
                            <li><p>Food & logistic facilities </p></li>
                            <li><p>Plan ticket (Who will responsible to pay the fare for the plane ticket?)</p></li>
                            <li><p>Possibilities of probation period extension </p></li>
                            <li><p>Provision of accidental insurance</p></li>
                            <li><p>Availability of leave provision</p></li>
                            <li><p>Provision for health check-up (who will pay?)</p></li>
                            <li><p>Availability of medical/treatment services </p></li>
                            <li><p>Daily working hours (with start and end time) </p></li>
                            <li><p>Provision of the overtime working hours </p></li>
                        </ul>
                    </div>
                </div>
                <a href="#/app/contract" class="btn-default btn-back">Back</a>
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>