<ion-view>
    <ion-content id="contracts">
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage === 'Nepali'">
                <div class="content-header">
                    <div class="header-left">
                        <a href="#app/contract-content"><span>सम्झौता</span><i class="ion-ios-book"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>पुनर्लेखन</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <a href=""><i class="ion ion-volume-medium"></i></a>
                    </div>
                    <div class="content-listing item-stacked-label">
                        <label class="count-label">रोजगारदाताको नाम</label>
                        <input type="text" />
                    </div>
                    <div class="content-listing item-stacked-label">
                        <label class="count-label">परिक्षण काल (महिना)</label>
                        <input type="number" />
                    </div>
                    <div class="content-listing default-radio">
                        <h4>परिक्षण काल विस्तार को संभावनाहरु</h4>
                        <ion-radio ng-value="yes">छ</ion-radio><!--
                        --><ion-radio bg-value="no">छैन</ion-radio>
                    </div>
                </div>
                <a href="#/app/contract-info" class="btn-default">सम्झौता जानकारी</a>
            </div>
            
            <div ng-show="selectedLanguage === 'English'">
                <div class="content-header">
                    <div class="header-left">
                        <a href="#app/contract-content"><span>Contract</span><i class="ion-ios-book"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>Reset</a></div>
                </div>

                <form name="employeeInfo" ng-submit="employee(employeeInfo.$valid)" novalidate>
                    <div class="content-listing-wrap clearfix">
                        <div class="content-sub-header">
                            <a href=""><i class="ion ion-volume-medium"></i></a>
                        </div>
                        <div class="content-listing item-stacked-label" ng-class="{ 'has-error' : employeeInfo.empName.$touched && employeeInfo.empName.$invalid}">
                            <label class="count-label">Employer Name</label>
                            <input type="text" name="employeeName" ng-model="contractData.employeeName" id="employeeName" required  ng-change="onChange()"/>
                            <div class="validations">
                              
                            </div>
                        </div>
                        <div class="content-listing item-stacked-label">
                            <label class="count-label">Probation Period (Months)</label>
                            <input type="number" ng-model="contractData.probation" name="probation" id="probation" required ng-change="onChange()"/>
                        </div>
                        <div class="content-listing default-radio">
                            <h4>Possibilities of Contract Extension</h4>
                            <ion-radio ng-value="yes">Yes</ion-radio><!--
                            --><ion-radio ng-value="no">No</ion-radio>
                        </div>
                    </div>

                    <a data-ng-click="disabled || (GoTo('#/app/contract-info'))" class="btn-default">Contract Info</a>
                   
                     
                     
                </form>

            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
