<ion-view view-title="Confirmation" hide-nav-bar="true">
    <ion-content>
        <div class="startup-wrap">
            <img src="img/main-logo.png" alt=""/>
            <div ng-show="selectedLanguage == 'Nepali'">
                <span class="info-title">एक सक्रियता कोड तपाईको मोबाइलमा पठाइएको थियो। कोड तल प्रविष्ट गर्नुहोस्:</span>                
                <form name="confirmationCodeNepali" ng-submit="submitCode(confirmationCodeNepali.$valid)" novalidate>
                    <div class="custom-form-group" ng-class="{ 'has-error' : confirmationCodeNepali.yourCode.$invalid && !confirmationCodeNepali.yourCode.$pristine }">
                        <label>कोड पाउनु भयो ?</label>
                        <input type="number" placeholder="तपाईको कोड" name="yourCode" ng-model="code.yourCode" ng-minlength="4" ng-maxlength="4" required />
                        <div class="validations">
                            <span ng-show="confirmationCodeNepali.yourCode.$error.minlength" class="error">कोड ४ अंक हुनुपर्छ।</span>
                            <span ng-show="confirmationCodeNepali.yourCode.$error.maxlength" class="error">कोड ४ अंक हुनुपर्छ।</span>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="confirmationCodeNepali.$invalid">भयो</button>
                </form>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <span class="info-title">An activation code was sent to your mobile. Enter the code below.</span>
                <form name="confirmationCode" ng-submit="submitCode(confirmationCode.$valid)" novalidate>
                    <div class="custom-form-group" ng-class="{ 'has-error' : confirmationCode.yourCode.$invalid && !confirmationCode.yourCode.$pristine }">
                        <label>Did you get the code?</label>
                        <input type="number" placeholder="Your Code" name="yourCode" ng-model="code.yourCode" ng-minlength="4" ng-maxlength="4" required />
                        <div class="validations">
                            <span ng-show="confirmationCode.yourCode.$error.minlength" class="error">Code Must Be 4 Digits.</span>
                            <span ng-show="confirmationCode.yourCode.$error.maxlength" class="error">Code Must Be 4 Digits. </span>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="confirmationCode.$invalid">Submit</button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
