<ion-view view-title="Select Language" hide-nav-bar="true">
    <ion-content>
        <div class="startup-wrap">
            <img src="img/main-logo.png" alt=""/>
            <h2>भाषा छान्नुहोस / Select Language</h2>
            
            <ion-list class="language-selection">
                <ion-radio ng-click="changeValue(language)" ng-model="language" ng-value="'Nepali'">नेपाली</ion-radio>
                <ion-radio ng-click="changeValue(language)" ng-model="language" ng-value="'English'">English</ion-radio>
            </ion-list>
            <a href="{{href}}">सम्पन्न / Enter</a>
        </div>
    </ion-content>
</ion-view>
