<ion-view view-title="Number Registration" hide-nav-bar="true">
    <ion-content>
        <div class="startup-wrap">
            <img src="img/main-logo.png" alt=""/>
            <div ng-show="selectedLanguage == 'Nepali'">
                <span class="info-title">आफ्नो देश छान्नुहोस्र, तपाईको फोन नम्बर हाल्नुहोस् र सम्पन्न गर्नुहोस् ।</span>
                <form name="numberRegistrationNep" ng-submit="phoneNumberRegistration(numberRegistrationNep.$valid)" novalidate>
                    <div class="custom-form-group" ng-class="{ 'has-error' : numberRegistrationNep.countrys.$touched && numberRegistrationNep.countrys.$invalid}">
                        <label>तपाईको देश</label>
<!--                        <select name="countrys" ng-model="country" ng-options="country.name for country in countries" required>
                            <option value="">देश छान्नुहोस्र</option>
                        </select>-->
                        <span name="countries" class="selected-content" ng-click="countryCode.show()">{{countryData.selectedCountry}}</span>
                    </div>
                    
                    <div class="custom-form-group phonenumber-wrap" ng-class="{ 'has-error' : numberRegistrationNep.yournumber.$touched && numberRegistrationNep.yournumber.$invalid}">
                        <span id="country-code">{{countryData.countryCode}}</span>
                        <input type="number" placeholder="तपाईंको फोन नम्बर" name="yournumber" ng-model="number.yournumber" ng-minlength="6" ng-maxlength="12" required />
                        <div class="validations">
                            <div ng-show="numberRegistrationNep.$submitted || numberRegistrationNep.yournumber.$touched || numberRegistrationNep.yournumber.$error.minlength || numberRegistrationNep.yournumber.$error.maxlength">
                                <span ng-show="numberRegistrationNep.yournumber.$error.required" class="error">तपाईको फोन नम्बर हाल्नुहोस् ।</span>
                                <span ng-show="numberRegistrationNep.yournumber.$error.minlength" class="error">फोन नम्बर कम्तिमा ६ अंक हुनुपर्छ।</span>
                                <span ng-show="numberRegistrationNep.yournumber.$error.maxlength" class="error">फोन नम्बर १२ अङ्क भन्दा बढी हुँदैन</span>
                            </div>
                        </div>
                    </div>
                    <button type="submit">सम्पन्न</button>
                </form>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <span class="info-title">Select your country and enter your phone number to continue:</span>
                <form name="numberRegistrationEnglish" ng-submit="phoneNumberRegistration(numberRegistrationEnglish.$valid)" novalidate>
                    <div class="custom-form-group" ng-class="{ 'has-error' : numberRegistrationEnglish.countrys.$touched && numberRegistrationEnglish.countrys.$invalid}">
                        <label>Your Country</label>
                        <span name="countries" class="selected-content" ng-click="countryCode.show()">{{countryData.selectedCountry}}</span>
                    </div>
                    
                    <div class="custom-form-group phonenumber-wrap" ng-class="{ 'has-error' : numberRegistrationEnglish.yournumber.$touched && numberRegistrationEnglish.yournumber.$invalid}">
                        <span id="country-code">{{countryData.countryCode}}</span>
                        <input type="number" placeholder="Phone Number" name="yournumber" ng-model="number.yournumber" ng-minlength="6" ng-maxlength="12" required />
                        <div class="validations">
                            <div ng-show="numberRegistrationEnglish.$submitted || numberRegistrationEnglish.yournumber.$touched || numberRegistrationEnglish.yournumber.$error.minlength || numberRegistrationEnglish.yournumber.$error.maxlength">
                                <span ng-show="numberRegistrationEnglish.yournumber.$error.required" class="error">Please Enter Your Number.</span>
                                <span ng-show="numberRegistrationEnglish.yournumber.$error.minlength" class="error">Phone number should contain at least 6 digits.</span>
                                <span ng-show="numberRegistrationEnglish.yournumber.$error.maxlength" class="error">Phone number should not exceed more than 12 digits.</span>
                            </div>
                        </div>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
