<ion-view view-title="Registration" hide-nav-bar="true">
    <ion-content>
        <div class="startup-wrap">
            <img src="img/main-logo.png" alt=""/>
            <div ng-show="selectedLanguage == 'Nepali'">
                <span class="info-title">दर्ता फारम</span>
                <form name="userRegistraionNepali" ng-submit="submitUserRegistration(userRegistraionNepali.$valid)" novalidate>                    
                    <div class="custom-form-group" ng-class="{ 'has-error' : userRegistraionNepali.fullname.$touched && userRegistraionNepali.fullname.$invalid}">
                        <input type="text" name="fullname" placeholder="पुरा नाम" ng-model="user.fullname" ng-pattern="/^(\D)+$/" required />
                        <div class="validations" >
                            <div ng-show="userRegistraionNepali.$submitted || userRegistraionNepali.fullname.$touched">
                                <span ng-show="userRegistraionNepali.fullname.$error.required" class="error">तपाईको पूरा नाम आवश्यक छ।</span>
                            <span ng-show="userRegistraionNepali.fullname.$error.pattern" class="error">पूरा नाम वर्ण मात्र हुनुपर्छ</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="custom-form-group inline-from-group" ng-class="{ 'has-error' : userRegistraionNepali.age.$touched && userRegistraionNepali.age.$invalid}">
                        <input type="number" name="age" placeholder="उमेर" ng-model="user.age" required />
                        <div class="validations" >
                            <div ng-show="userRegistraionNepali.$submitted || userRegistraionNepali.age.$touched">
                                <span ng-show="userRegistraionNepali.age.$error.required" class="error">उमेर आवश्यक छ।</span>
                            </div>
                        </div>
                    </div><!--
                    --><div class="custom-form-group inline-from-group" ng-class="{ 'has-error' : userRegistraionNepali.gender.$touched && userRegistraionNepali.gender.$invalid}">
                        <select name="gender"  ng-model="userGender.gender" required  ng-change="changeValue(userGender)"  ng-options="userGender.gender for userGender in userGenders">
                            <option value="">लिङ्ग</option>
                        </select>
                        <div class="validations" >
                            <div ng-show="userRegistraionNepali.$submitted || userRegistraionNepali.gender.$touched">
                                <span ng-show="userRegistraionNepali.gender.$error.required" class="error">लिङ्ग छान्नुहोस्।</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="custom-form-group" ng-class="{ 'has-error' : userRegistraionNepali.nationality.$touched && userRegistraionNepali.nationality.$invalid}">
                        <select name="nationality" ng-model="Natinoality.nation" ng-change="changeValue(Natinoality)"  ng-options="Natinoality.nation for Natinoality in Nationalities" required>
                            <option value="">नागरिकताको नाम (नेपाली, मलेशियन)</option>
                        </select>
                        <div class="validations">
                            <div ng-show="userRegistraionNepali.$submitted || userRegistraionNepali.nationality.$touched">
                                <span ng-show="userRegistraionNepali.nationality.$error.required" class="error">तपाईको नागरिकताको नाम आवश्यक छ ।</span>
                            </div>
                        </div>
                    </div>
                    <button type="submit">दर्ता गर्नुहोस्</button>
                </form>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <span class="info-title">Registration Form</span>
                <form name="userRegistraionEnglish" ng-submit="submitUserRegistration(userRegistraionEnglish.$valid)" novalidate>
                    <div class="custom-form-group" ng-class="{ 'has-error' : userRegistraionEnglish.fullname.$touched && userRegistraionEnglish.fullname.$invalid}">
                        <input type="text" name="fullname" placeholder="Full Name" ng-model="user.fullname" ng-pattern="/^(\D)+$/" required />
                        <div class="validations">
                            <div ng-show="userRegistraionEnglish.$submitted || userRegistraionEnglish.fullname.$touched">
                                <span ng-show="userRegistraionEnglish.fullname.$error.required" class="error">You Name is Required.</span>
                                <span ng-show="userRegistraionEnglish.fullname.$error.pattern" class="error">Full Name Should Contain Only Characters.</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="custom-form-group inline-from-group" ng-class="{ 'has-error' : userRegistraionEnglish.age.$touched && userRegistraionEnglish.age.$invalid}">
                        <input type="number" name="age" placeholder="Age" ng-model="user.age" required />
                        <div class="validations">
                            <div ng-show="userRegistraionEnglish.$submitted || userRegistraionEnglish.age.$touched">
                                <span ng-show="userRegistraionEnglish.age.$error.required" class="error">Specify Your Age.</span>
                            </div>
                        </div>
                    </div><!--
                    --><div class="custom-form-group inline-from-group" ng-class="{ 'has-error' : userRegistraionEnglish.gender.$touched && userRegistraionEnglish.gender.$invalid}">
                        <select name="gender"  ng-model="userGender.gender" required  ng-change="changeValue(userGender)"  ng-options="userGender.gender for userGender in userGenders">
                            <option value="">Gender</option>
                        </select>
                        <div class="validations">
                            <div ng-show="userRegistraionEnglish.$submitted || userRegistraionEnglish.gender.$touched">
                                <span ng-show="userRegistraionEnglish.gender.$error.required" class="error">Specify Your Gender.</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="custom-form-group" ng-class="{ 'has-error' : userRegistraionEnglish.nationality.$touched && userRegistraionEnglish.nationality.$invalid}">
                        <select name="nationality" ng-model="Natinoality.nation" ng-change="changeValue(Natinoality)"  ng-options="Natinoality.nation for Natinoality in Nationalities" required>
                            <option value="">Nationality (Nepali, Malaysian)</option>
                        </select>
                        <div class="validations">
                            <div ng-show="userRegistraionEnglish.$submitted || userRegistraionEnglish.nationality.$touched">
                                <span ng-show="userRegistraionEnglish.nationality.$error.required" class="error">Specify Your Nationality.</span>
                            </div>
                        </div>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>     
        </div>
    </ion-content>
</ion-view>
