<ion-view>
    <ion-content>
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>मेनपावर कम्पनी</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>पुनर्लेखन</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>मेनपावर कम्पनीको नामावलीका लागि यहाँ थिच्न्नुहोस</span><!--
                        -->
                    </div>

                    <div class="content-listing stacked-content">
                        <div class="selected-content-wrap">
                            <span class="selected-content" ng-click="manpowerAgency.show()">{{manpowerData.selectedManpowerAgency}}</span>
                        <input class="optional-box" type="text" placeholder="मेनपावरको नाम" ng-show="manpowerData.selectedManpowerAgency == 'अरू मेनपावर'" />
                        </div><!--
                        --><button class="btn-default btn-secondary" ng-click="manpowerAgency.show()">मेनपावर कम्पनीहरुको सूची</button>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">मेनपावर शुल्क<span>(रु)</span></label><!--
                        --><input type="number" ng-model="manpowerData.manpowerFee" />
                    </div>

                    <div class="content-listing">
                        <label class="count-label">थप खर्चहरु<span>(रु)</span></label><!--
                        --><input type="number" />
                    </div>
                </div>
                <a href="#/app/dashboard" class="btn-default">सेभ गर्नुहोस</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>Manpower Company</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>Reset</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>Select Manpower Companies</span><!--
                        -->
                    </div>

                    <form ng-submit="ManpowerSubmit(manpowerForm.$valid)" name="manpowerForm" novalidate id="manpowerForm">

                    <div class="content-listing stacked-content">
                        <div class="selected-content-wrap">
                            <span class="selected-content" ng-click="manpowerAgency.show()">{{manpowerData.selectedManpowerAgency}}</span>
                        <input class="optional-box" type="text" placeholder="Specify Manpower" ng-show="manpowerData.selectedManpowerAgency == 'Other Manpower'" /><!--
                        --></div>
                        <input type="button" class="btn-default btn-secondary" ng-click="manpowerAgency.show()" value="Select Manpower"/>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">Manpower Company’s Cost<span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="manpowerData.manpowerFee" name="manpowerFee" required ng-readonly="status==true" />
                           <span ng-show="(manpowerForm.manpowerFee.$dirty || submitted) && manpowerForm.manpowerFee.$error.required">Manpower Cost is required</span>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">Additional Expenses<span>(Rs.)</span></label><!--
                        --><input type="number"  ng-model="manpowerData.additionalFee" name="additionalFee" required />
                         <span ng-show="(manpowerForm.additionalFee.$dirty || submitted) && manpowerForm.additionalFee.$error.required">Manpower Cost is required</span>
                    </div>
                     <button type="submit" class="btn-default">Save</button>

                </form>
                </div>
               
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
