<ion-view>
    <ion-content>
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left header-full">
                        <a href=""><span>मेनपावर कम्पनी विवरण</span></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div>
                </div>

                <div class="content-listing-wrap clearfix">
                    <div class="content-listing">
                        <div class="table-wrap">
                            <ion-scroll zooming="false" direction="xy" style="height: 400px">
                                <table class="remove-first-tr">
                                    <thead>
                                        <tr>
                                            <th>नाम</th>
                                            <th>ठेगाना</th>
                                            <th>फोन नं</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="manpower in manpowers">
                                            <td>{{manpower.name}}</td>
                                            <td>{{manpower.address}}</td>
                                            <td>{{manpower.phone}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ion-scroll>
                        </div>
                    </div>
                </div>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left header-full">
                        <a href=""><span>Manpower Details</span></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div>
                </div>

                <div class="content-listing-wrap clearfix">
                    <div class="content-listing">
                        <div class="table-wrap">
                            <ion-scroll zooming="false" direction="xy" style="height: 400px">
                                <table class="remove-first-tr">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Phone No.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="manpower in manpowers">
                                            <td>{{manpower.name}}</td>
                                            <td>{{manpower.address}}</td>
                                            <td>{{manpower.phone}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ion-scroll>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
