<ion-view>
    <ion-content>
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left header-full">
                        <a href=""><span>क्षतिपूर्ति</span></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div>
                </div>
                <div class="content-listing-wrap clearfix">
                </div>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left header-full">
                        <a href=""><span>Compensation</span></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div>
                </div>
                <div class="content-listing-wrap clearfix">
                </div>
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
