<ion-view>
    <ion-content>
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>बीमा सम्बन्धि जानकारी</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>पुनर्लेखन</a></div>
                </div>

                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>नोट</span>
                    </div>

                    <div class="content-listing">
                        <p>परिवारका सदस्यहरुलाई केहि राहत होस भन्नका लागि , दुर्घटनाका संभाव्य जोखिमहरुलाई उल्लेख गर्दै पुर्वसावधानीका उपाय स्वरुप रु १०,००,००० (रु. दश लाख) सम्मको बीमालाई अनिवार्य गरिएको छ । बीमाको किस्ता रकम भने उमेर र कामको अवधी हेरी फरक हुन्छ । यदि कामको अवधी लम्बिने अवस्था छ भने, बीमाको रकम पनि बढाउनु पर्ने हुन्छ ।</p>
                    </div>

                    <div class="content-listing">
                        <h4>आधिकारिक बीमा कम्पनी</h4>
                        <div class="list">
                        <a class="item item-icon-right listings" href="#">राष्ट्रिय बीमा संस्थान<i class="icon ion-ios-book"></i></a>
                        <a class="item item-icon-right listings" href="#">नेशनल लाइफ इन्सोरेन्स कम्पनी लिमिटेड <i class="icon ion-ios-book"></i></a>
                        <a class="item item-icon-right listings" href="#">नेपाल लाइफ इन्सोरेन्स कम्पनी लिमिटेड<i class="icon ion-ios-book"></i></a>
                        <a class="item item-icon-right listings" href="#">लाइफ इन्सोरेन्स कोर्पोरेशन नेपाल लिमिटेड<i class="icon ion-ios-book"></i></a>
                        <a class="item item-icon-right listings" href="#">एसियान लाइफ इन्सोरेन्स कम्पनी लिमिटेड<i class="icon ion-ios-book"></i></a>
                        <a class="item item-icon-right listings" href="#">सुर्या लाइफ इन्सोरेन्स कम्पनी लिमिटेड<i class="icon ion-ios-book"></i></a>
                        <a class="item item-icon-right listings" href="#">गुराँस लाइफ इन्सोरेन्स कम्पनी लिमिटेड<i class="icon ion-ios-book"></i></a>
                        <a class="item item-icon-right listings" href="#">प्राईम लाईफ इन्सोरेन्स कम्पनी लिमिटेड<i class="icon ion-ios-book"></i></a>
                        <a class="item item-icon-right listings" href="#">मेटलाइफ एलिको<i class="icon ion-ios-book"></i></a>
                      </div>
                    </div>

                    <div class="content-listing">
                        <h4>प्रक्रिया र आवश्यक रुजुसुचीहरु</h4>
                        <ion-checkbox>इच्छानुरुप बीमा कम्पनीको छनोट</ion-checkbox>
                        <ion-checkbox>बीमाको फारम भर्नुहोस</ion-checkbox>
                        <ion-checkbox>बीमाको रकम भुक्तनी गर्नुहोस</ion-checkbox>
                       <ion-checkbox>राहदानीको फोटोकपी</ion-checkbox>
                    </div>

                    <div class="content-listing">
                        <h4>खर्चहरुको सामिलता</h4>
                        <p>आफूले छनोट गरेको देश र उमेरको आधारमा खर्चको फरकपन</p>
                        <div class="table-wrap">
                            <ion-scroll zooming="false" direction="xy" style="height: 300px;">
                                <table>
                                    <thead>
                                        <tr>
                                            <th colspan="2" rowspan="2">बीमा अवधि</th> 
                                            <th colspan="4">उमेर समुह</th>
                                        </tr>
                                        <tr>                                           
                                            <th>१८ वर्ष देखी ३५ वर्ष सम्म</th>
                                            <th>३६ वर्ष देखी ५० वर्ष सम्म</th>
                                            <th>५१ वर्ष देखी ६४ वर्ष सम्म</th>
                                            <th>६५ वर्ष भन्दा माथि</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="3">१ वर्षे बीमालेखमा अवधि थप गर्दा</td>
                                            <td><span>१</span> वर्ष  <span>६ </span> महिना</td>
                                            <td class="highlighted-table">२०६६</td>
                                            <td>२९००</td>
                                            <td>२९००</td> 
                                            <td rowspan="13" >कामदार र रोजगारदाता बीचको करार अवधिलाई मूल बीमा अवधि मानी बीमकले निर्धारण गरेको बीमाशूल्कको आधारमा 
समानुपातिक दरले हिसाव गरी थप अवधिका लागि एकमुष्ट बीमाशुल्क लिनु पर्नेछ ।</td>
                                        </tr>
                                        <tr>
                                            <td><span>१</span> वर्ष  <span>९</span> महिना</td>
                                            <td class="highlighted-table">२३५६</td>
                                            <td>३२६३</td>
                                            <td>६७०६</td> 
                                        </tr>
                                        <tr>
                                            <td><span>२</span> वर्ष </td>
                                            <td class="highlighted-table">२६४६</td>
                                            <td>३६२५</td>
                                            <td>७२५०</td> 
                                        </tr>
                                        
                                        <tr>
                                            <td rowspan="3">२ वर्षे बीमालेखमा अवधि थप गर्दा</td>
                                            <td><span>२</span> वर्ष <span>६</span> महिना</td>
                                            <td class="highlighted-table">३०८४</td>
                                            <td>४२७८</td>
                                            <td>८४१०</td>                                                
                                        </tr>
                                        <tr>
                                            <td><span>२</span> वर्ष  <span>९</span> महिना</td>
                                            <td class="highlighted-table">३३०३</td>
                                            <td>४६०४</td>
                                            <td>८९९०</td> 
                                        </tr>
                                        <tr>
                                            <td><span>३</span> वर्ष</td>
                                            <td class="highlighted-table">३५२४</td>
                                            <td>४९३०</td>
                                            <td>९५७०</td> 
                                        </tr>

                                        <tr>
                                            <td rowspan="3">३ वर्षे बीमालेखमा अवधि थप गर्दा</td>
                                            <td><span>३</span> वर्ष <span>६</span> महिना</td>
                                            <td class="highlighted-table">३९७३</td>
                                            <td>५५१०</td>
                                            <td>१०८०३</td>                                                
                                        </tr>
                                        <tr>
                                            <td><span>३</span> वर्ष  <span>९</span> महिना</td>
                                            <td class="highlighted-table">४१९८</td>
                                            <td>५८००</td>
                                            <td>११४१९</td> 
                                        </tr>
                                        <tr>
                                            <td><span>४</span> वर्ष</td>
                                            <td class="highlighted-table">३५२४</td>
                                            <td>४९३०</td>
                                            <td>९५७०</td> 
                                        </tr>

                                        <tr>
                                            <td rowspan="3">४ वर्षे बीमालेखमा अवधि थप गर्दा</td>
                                            <td><span>४</span> वर्ष <span>६</span> महिना</td>
                                            <td class="highlighted-table">४७८५</td>
                                            <td>६५९८</td>
                                            <td>१३२६८</td>                                                
                                        </tr>
                                        <tr>
                                            <td><span>४</span> वर्ष  <span>९</span> महिना</td>
                                            <td class="highlighted-table">४९६६</td>
                                            <td>६८५१</td>
                                            <td>१३८८४</td> 
                                        </tr>
                                        <tr>
                                            <td><span>५</span> वर्ष</td>
                                            <td class="highlighted-table">५१४८</td>
                                            <td>७१०५</td>
                                            <td>१४५००</td> 
                                        </tr>
                                        
                                        <tr>
                                            <td rowspan="3">५ वर्षे बीमालेखमा अवधि थप गर्दा</td>
                                            <td><span>५ </span> वर्ष <span>६ </span> महिना</td>
                                            <td class="highlighted-table">५४३८</td>
                                            <td>७७५८</td>
                                            <td>१५६६०</td>                                                
                                        </tr>
                                    </tbody>
                                </table>
                            </ion-scroll>
                        </div>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">प्रिमियम रकम<span>(रु)</span></label><!--
                        --><input type="number" />
                    </div>

                    <div class="content-listing">
                        <label class="count-label">थप खर्चहरु<span>(रु)</span></label><!--
                        --><input type="number" />
                    </div>
                </div>
                <a href="#/app/dashboard" class="btn-default">सेभ गर्नुहोस</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>Insurance Info</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>Reset</a></div>
                </div>

                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>Note</span>
                    </div>

                    <div class="content-listing">
                        <p>For the precautionary measure citing potential risks of accidents and to provide respite to the dependants, it is mandatory to take insurance of Rs 10,00,000. The insurance premium varies according to age and the work duration. If there is extension of work period, the insurance also needs to be extended.</p>
                    </div>

                    <div class="content-listing">
                        <h4>Authorized Insurance Companies</h4>
                        <div class="list">
                        <a class="item item-icon-right listings" href="#">Rastriya Bima Sansthan<i class="icon ion-ios-book"></i></a>
                         <a class="item item-icon-right listings" href="#">National Life Insurance Company Limited<i class="icon ion-ios-book"></i></a>
                          <a class="item item-icon-right listings" href="#">Nepal Life Insurance Company Limited<i class="icon ion-ios-book"></i></a>
                        <a class="item item-icon-right listings" href="#">Life Insurance Corporation Nepal Limited<i class="icon ion-ios-book"></i></a>
                        <a class="item item-icon-right listings" href="#">Asian Life Insurance Company Limited<i class="icon ion-ios-book"></i></a>
                        <a class="item item-icon-right listings" href="#">Surya Life Insurance Company Limited<i class="icon ion-ios-book"></i></a>
                        <a class="item item-icon-right listings" href="#">Gurans Life Insurance Company Limited<i class="icon ion-ios-book"></i></a>
                        <a class="item item-icon-right listings" href="#">Prime Life Insurance Company Limted<i class="icon ion-ios-book"></i></a>
                        <a class="item item-icon-right listings" href="#">MetLife ALICO<i class="icon ion-ios-book"></i></a>
                      </div>
                    </div>

                    <div class="content-listing">
                        <h4>Process & Requirements Checklist</h4>
                        <ion-checkbox>Visit your choice of insurance company</ion-checkbox>
                        <ion-checkbox>Fill out the insurance form</ion-checkbox>
                        <ion-checkbox>Pay the insurance premium</ion-checkbox>
                        <ion-checkbox>Passport Photocopy</ion-checkbox>
                    </div>

                    <div class="content-listing">
                        <h4>Cost Involved</h4>
                        <p class="text-center">Foreign Employment (Term) Life Assurance Premium Amount (Rupees) 
                            <br>Effective from 2073 Shrawn 01 
                            <br>(Insurance amount Rs. 10 lakh) </p>
                        <div class="table-wrap">
                            <ion-scroll zooming="false" direction="xy" style="height: 300px;">
                                <table>
                                    <thead>
                                        <tr>
                                            <th colspan="2" rowspan="2">Duration of Insurance</th> 
                                            <th colspan="4">Age Group</th>
                                        </tr>
                                        <tr>                                           
                                            <th> 18 to 35 years old</th>
                                            <th> 35 to 50 years old</th>
                                            <th> 51 to 64 years old</th>
                                            <th> More than 65 years </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="3">Adding 1 year period to the insurance term</td>
                                            <td><span>1</span> Years <span>6</span> Month</td>
                                            <td class="highlighted-table">2066</td>
                                            <td>2900</td>
                                            <td>6163</td> 
                                            <td rowspan="13" > Considering the contract period between the employer and the worker as the 'total insurance period' and based on the premium determined by the insurer (agent), the premium amount should be proportionately calculated and collected for the additional period.  </td>
                                        </tr>
                                        <tr>
                                            <td><span>1</span> Years <span>9</span> Month</td>
                                            <td class="highlighted-table">2356</td>
                                            <td>3263</td>
                                            <td>6706</td> 
                                        </tr>
                                        <tr>
                                            <td><span>2</span> Years</td>
                                            <td class="highlighted-table">2646</td>
                                            <td>3625</td>
                                            <td>7250</td> 
                                        </tr>
                                        
                                        <tr>
                                            <td rowspan="3">Adding 2 year period to the insurance term</td>
                                            <td><span>2</span> Years <span>6</span> Month</td>
                                            <td class="highlighted-table">3084</td>
                                            <td>4278</td>
                                            <td>8410</td>                                                
                                        </tr>
                                        <tr>
                                            <td><span>2</span> Years <span>9</span> Month</td>
                                            <td class="highlighted-table">3303</td>
                                            <td>4604</td>
                                            <td>8990</td> 
                                        </tr>
                                        <tr>
                                            <td><span>3</span> Years</td>
                                            <td class="highlighted-table">3524</td>
                                            <td>4930</td>
                                            <td>9570</td> 
                                        </tr>
                                        
                                        <tr>
                                            <td rowspan="3">Adding 3 year period to the insurance term</td>
                                            <td><span>3</span> Years <span>6</span> Month</td>
                                            <td class="highlighted-table">3973</td>
                                            <td>5510</td>
                                            <td>10803</td>                                                
                                        </tr>
                                        <tr>
                                            <td><span>3</span> Years <span>9</span> Month</td>
                                            <td class="highlighted-table">4198</td>
                                            <td>5800</td>
                                            <td>11419</td> 
                                        </tr>
                                        <tr>
                                            <td><span>4</span> Years</td>
                                            <td class="highlighted-table">4423</td>
                                            <td>6090</td>
                                            <td>12035</td> 
                                        </tr>
                                        
                                        <tr>
                                            <td rowspan="3">Adding 4 year period to the insurance term</td>
                                            <td><span>4</span> Years <span>6</span> Month</td>
                                            <td class="highlighted-table">4785</td>
                                            <td>6598</td>
                                            <td>13268</td>                                                
                                        </tr>
                                        <tr>
                                            <td><span>4</span> Years <span>9</span> Month</td>
                                            <td class="highlighted-table">4966</td>
                                            <td>6851</td>
                                            <td>13884</td> 
                                        </tr>
                                        <tr>
                                            <td><span>5</span> Years</td>
                                            <td class="highlighted-table">5148</td>
                                            <td>7105</td>
                                            <td>14500</td> 
                                        </tr>
                                        
                                        <tr>
                                            <td rowspan="3">Adding 5 year period to the insurance term</td>
                                            <td><span>5</span> Years <span>6</span> Month</td>
                                            <td class="highlighted-table">5438</td>
                                            <td>7758</td>
                                            <td>15660</td>                                                
                                        </tr>
                                    </tbody>
                                </table>
                            </ion-scroll>
                        </div>
                    </div>


                   <form ng-submit="InsuranceSubmit(insuranceSubmitForm.$valid)" name="insuranceSubmitForm" novalidate id="insuranceSubmitForm">
                    <div class="content-listing">
                        <label class="count-label">Premium Amount <span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="insuranceData.premiumAmount"  name="premiumAmount" required ng-readonly="readonly==true"/>
                        <span ng-show="(insuranceSubmitForm.premiumAmount.$dirty || submitted) && insuranceSubmitForm.premiumAmount.$error.required">Premium Cost is required</span>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">Additional Expenses<span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="insuranceData.additionalCost" name="addtionalCost" required  />
                          <span ng-show="(insuranceSubmitForm.addtionalCost.$dirty || submitted) && insuranceSubmitForm.addtionalCost.$error.required">Additional Cost is required</span>
                    </div>

                     <button type="submit" class="btn-default">Save</button>
                 </form>


                </div>
                
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
