<ion-view>
    <ion-content id="pre-departure">
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>एकमुष्ठ रकम</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>पुनर्लेखन</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-listing">
                        <label class="count-label">एकमुष्ठ तिरिएको रकम<span>(रू)</span></label><!--
                        --><input type="number" />
                    </div>
                    <div class="content-listing">
                        <h4>एकमुष्ठ रकमले कुन-कुन प्रक्रिया पूरा भयो ?<span>(एकपटक प्रक्रिया पुरा भएकोमा टिक <i class="ion ion-checkmark"></i> चिन्ह लगाउनुहोस)</span></h4>
                        <ion-checkbox>राहदानी</ion-checkbox>
                        <a ng-href="#/app/passport">राहदानी लिङ्क</a>
                        <ion-checkbox>स्वास्थ्य परिक्षण</ion-checkbox>
                        <a ng-href="#/app/health-checkups">स्वास्थ्य परिक्षण लिङ्क</a>
                        <ion-checkbox>क्षमता विकास</ion-checkbox>
                        <a ng-href="#/app/skill-development">क्षमता विकास लिङ्क</a>
                        <ion-checkbox>मेनपावर शुल्क</ion-checkbox>
                        <a ng-href="#/app/manpower-agency">मेनपावर लिङ्क</a>
                        <ion-checkbox>भिसा अनुरोध</ion-checkbox>
                        <a ng-href="#/app/visa-request">भिसा अनुरोध लिङ्क</a>
                        <ion-checkbox>हवाई टिकट</ion-checkbox>
                        <a ng-href="#/app/air-tickets">हवाई टिकट लिङ्क</a>
                        <ion-checkbox>बीमा</ion-checkbox>
                        <a ng-href="#/app/insurance">बीमा लिङ्क</a>
                        <ion-checkbox>कल्याणकारी कोष</ion-checkbox>
                        <a ng-href="#/app/welfare-fund">कल्याणकारी कोष लिङ्क</a>
                        <ion-checkbox>श्रम अनुमति</ion-checkbox>
                        <a ng-href="#/app/labor-permit">श्रम अनुमति लिङ्क</a>
                        <ion-checkbox>पूर्व अभिमुखिकरण तालिम</ion-checkbox>
                        <a ng-href="#/app/pre-orientation-training">पूर्व अभिमुखिकरणलिङ्क</a>
                    </div>
                </div>
                <a href="#/app/dashboard" class="btn-default">सेभ गर्नुहोस</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>Bulk Amount</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>Reset</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                   <form name="bulkAmountForm" ng-submit="bulkSubmit(bulkAmountForm.$valid)" novalidate>

                    <div class="content-listing">
                        <label class="count-label">Bulk Amount Paid<span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="bulkAmountData.bulkAmount" required name="bulkAmount"/>
                        <span ng-show="(bulkAmountForm.bulkAmount.$dirty || submitted) && bulkAmountForm.bulkAmount.$error.required">Bulk Amount is required</span>
                    </div>
                    <div class="content-listing">
                        <h4>Check <span><i class="ion ion-checkmark"></i></span> the process covered by Bulk Amount:-</h4>
                        <ion-checkbox  ng-model="bulkAmountData['Passport']">Passport</ion-checkbox>
                        <a ng-href="#/app/passport">Link to Passport</a>
                        <ion-checkbox ng-model="bulkAmountData['Health_Checkup']">Health Checkup</ion-checkbox>
                        <a ng-href="#/app/health-checkups">Link to Health Checkup</a>
                        <ion-checkbox ng-model="bulkAmountData['Skill_Development']">Skill Development</ion-checkbox>
                        <a ng-href="#/app/skill-development">Link to Skill Development</a>
                        <ion-checkbox ng-model="bulkAmountData['Manpower_Costs']">Manpower Costs</ion-checkbox>
                        <a ng-href="#/app/manpower-agency">Link to Manpower</a>
                        <ion-checkbox ng-model="bulkAmountData['Visa_Request']">Visa Request</ion-checkbox>
                        <a ng-href="#/app/visa-request">Link to Visa Request</a>
                        <ion-checkbox ng-model="bulkAmountData['Air_Ticket']">Air Ticket</ion-checkbox>
                        <a ng-href="#/app/air-tickets">Link to Air Ticket</a>
                        <ion-checkbox ng-model="bulkAmountData['Insurance']">Insurance</ion-checkbox>
                        <a ng-href="#/app/insurance">Link to Insurance</a>
                        <ion-checkbox ng-model="bulkAmountData['Welfare_Fund']">Welfare Fund</ion-checkbox>
                        <a ng-href="#/app/welfare-fund">Link to Welfare Fund</a>
                        <ion-checkbox ng-model="bulkAmountData['Labor_Permit']">Labor Permit</ion-checkbox>
                        <a ng-href="#/app/labor-permit">Link to Labor Permit</a>
                        <ion-checkbox ng-model="bulkAmountData['Pre_Orientation']">Pre-Orientation Training</ion-checkbox>
                        <a ng-href="#/app/pre-orientation-training">Link to Pre-Orientation</a>
                    </div>
                     <button type="submit" class="btn-default">Save</button>

                </form>


                </div>
              
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
