<ion-view view-title="Session Listing" hide-nav-bar="true">
    <ion-content scroll="false">
        <div ng-show="selectedLanguage == 'Nepali'">
            <span class="btn-label">नयाँ प्रक्रिया सुरु गर्न नयाँ क्लिक गर्नुहोस्</span>
            <a href="#/country-selection" class="btn-add-project">नयाँ</a>
        </div>
        <div ng-show="selectedLanguage == 'English'">
            <span class="btn-label">Click New to start a New process</span>
            <a href="#/country-selection" class="btn-add-project">New</a>
        </div>
    </ion-content>
    <ion-content>
        <div class="session-wrap">
            <div ng-show="selectedLanguage == 'Nepali'">
                <h2>तपाईंको प्रक्रियाहरू</h2>
                <a href="#/select-features" class="lisiting-session">
                    <div class="session-date">
                        <span>24</span>
                        <span>जुन</span>
                        <span>2016</span>
                    </div><!--
                    --><div class="session-detail">
                        <div class="session-name">
                            <span>नाम</span><!--
                            --><span>Project 1</span>
                        </div>
                        <div class="session-country">
                            <span>देश</span><!--
                            --><span>कुवेत</span>
                        </div>
                    </div>
                </a>
                <a href="#/select-features" class="lisiting-session">
                    <div class="session-date">
                        <span>23</span>
                        <span>जुन</span>
                        <span>2016</span>
                    </div><!--
                    --><div class="session-detail">
                        <div class="session-name">
                            <span>नाम</span><!--
                            --><span>Project 2</span>
                        </div>
                        <div class="session-country">
                            <span>देश</span><!--
                            --><span>कुवेत</span>
                        </div>
                    </div>
                </a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <h2>Your Processes</h2>
                <a href="#/select-features" class="lisiting-session">
                    <div class="session-date">
                        <span>24</span>
                        <span>June</span>
                        <span>2016</span>
                    </div><!--
                    --><div class="session-detail">
                        <div class="session-name">
                            <span>Name</span><!--
                            --><span>Project 1</span>
                        </div>
                        <div class="session-country">
                            <span>Country</span><!--
                            --><span>Kuwait</span>
                        </div>
                    </div>
                </a>
                <a href="#/select-features" class="lisiting-session">
                    <div class="session-date">
                        <span>23</span>
                        <span>June</span>
                        <span>2016</span>
                    </div><!--
                    --><div class="session-detail">
                        <div class="session-name">
                            <span>Name</span><!--
                            --><span>Project 2</span>
                        </div>
                        <div class="session-country">
                            <span>Country</span><!--
                            --><span>Kuwait</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>