<ion-view>
    <ion-content>
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>अभिमुखिकरण तालिम</span><i class="ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>पुनर्लेखन</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>परिचय</span>
                    </div>
                    <div class="content-listing">
                        <p>अभिमुखिकरण तालिम बिना श्रम अनुमती प्राप्त हुँदैन । उक्त तालिम सञ्चालन नेपाल सरकारको मान्यता प्राप्त निकायहरुबाट गरिन्छ । वर्तमान अवस्थामा ७४ वटा निकाय र संस्थाहरु मार्फतबाट तालिम सञ्चालन भैरहेको छ । उक्त निकाय र संस्थाहरु काठमाडौँमानै अवस्थित छन्, जहाँ तालिम प्राप्त गर्न २ दिन लाग्दछ । तालिम समापन पश्चात सहभागीहरुलाई प्रमाणपत्र समेत वितरण गरिन्छ । 
    अभिमुखिकरण तालिमका लागी ७०० रुपैंया लाग्नेछ । महिला कामदारहरुका लागी श्रम स्विकृती प्राप्त भए पश्चात उक्त रकम फिर्ता गरिन्छ । कामदारहरुले राहदानीको फोटोकपी, श्रम स्वीकृती पत्र, अभिमुखिकरण तालिमको पमाणपत्र, नगद बिल र निवेदन पेश गरेपश्चात उल्लेखित रकम फिर्ता दिइन्छ ।</p>
                    </div>

                    <div class="content-listing stacked-content">
                        <h4>संस्था तथा निकायहरुको विस्तृत विवरण</h4>
                        <div class="selected-content-wrap">
                            <span class="selected-content" ng-click="preOrientationRelatedList.show()">{{preOrientationData.selectedrelateListing}}</span>
                        <input class="optional-box" type="text" placeholder="निकायको नाम" ng-show="preOrientationData.selectedrelateListing == 'अरू निकाय'" />
                        </div><!--
                        --><button class="btn-default btn-secondary" ng-click="preOrientationRelatedList.show()">उक्त निकायहरुको सूची</button>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">तालिम खर्च<span>(रु)</span></label><!--
                        --><input type="number" />
                    </div>

                    <div class="content-listing">
                        <label class="count-label">तालिम अवधिका यातायात, आवास, खाना खर्च<span>(रु)</span></label><!--
                        --><input type="number" />
                    </div>

                    <div class="content-listing stacked-content">
                        <h4>महिलाहरुका लागी फिर्ता</h4>
                        <p>महिला सहभागीहरुलाई अभिमुखिकरण तालिममा लागेको रु ७०० खर्च श्रम अनुमति पछि फिर्ता गर्ने व्यवस्था छ । रकम फिर्ता गर्न निवेदकले तल उल्लेख गरेबमोजिम कागजात अनिवार्य रुपमा पेश गर्नुपर्दछ ।</p>
                        <ion-checkbox>निवेदन</ion-checkbox>
                        <ion-checkbox>अभिमुखिकरण तालिमको प्रमाणपत्र</ion-checkbox>
                        <ion-checkbox>श्रम स्वीकृती तथा अनुमती पत्र</ion-checkbox>
                        <ion-checkbox>राहदानीको फोटोकपी</ion-checkbox>
                        <ion-checkbox>नगदी रसिद</ion-checkbox>
                    </div>

                    <div class="content-listing default-radio">
                        <h4>जम्मा गर्नुभएको रकम फिर्ता प्राप्त गर्नुभयो?–महिलाहरुलाई मात्र</h4>
                        <ion-radio ng-value="yes">छ</ion-radio ><!--
                        --><ion-radio ng-value="no">छैन</ion-radio >
                    </div>
                </div>
                <a href="#/app/dashboard" class="btn-default">सेभ गर्नुहोस</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>Pre-orientation Training</span><i class="ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>Reset</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>Introduction</span>
                    </div>
                    <div class="content-listing">
                        <p>Without orientation training the labor permit is not issued. the orientation is provided by institutes recognized by Government of Nepal. Currently there are 74 institutes that are recognized.( List provided) All the institutes are in Kathmandu and the orientation period is for 2 days. On completion of training certificate is provided.</p>
                        <p>
                            Cost: Rs 700 for the orientation training. For female workers the refund is made after the labor permit is issued. The refund is made to the individual on submission of the receipt, certificate of orientation, labor permit and copy of passport along with application letter.
                        </p>
                    </div>

                      <form ng-submit="TrainningSubmit(orientationTrainningForm.$valid)" name="orientationTrainningForm" novalidate id="orientationTrainningForm">

                    <div class="content-listing stacked-content">
                        <h4>Choose Institute</h4>
                        <div class="selected-content-wrap">
                            <span class="selected-content" ng-click="preOrientationRelatedList.show()">{{preOrientationData.selectedrelateListing}}</span>
                        <input class="optional-box" type="text" placeholder="Specify Institutes" ng-show="preOrientationData.selectedrelateListing == 'Other Trainig Center'" />
                        </div><!--
                        --><input type="button" class="btn-default btn-secondary" ng-click="preOrientationRelatedList.show()" value="List of Institutes"/>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">Training Cost<span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="preOrientationData.trainningCost" required name="trainningCost" ng-readonly="readonly==true" />
                           <span ng-show="(orientationTrainningForm.trainningCost.$dirty || submitted) && orientationTrainningForm.trainningCost.$error.required">Trainning Cost is required</span>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">Additional Cost<span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="preOrientationData.additionalCost" required name="additionalCost" />


                           <span ng-show="(orientationTrainningForm.additionalCost.$dirty || submitted) && orientationTrainningForm.additionalCost.$error.required">Additional Cost is required</span>



                    </div>

                    <div class="content-listing stacked-content">
                        <h4>Refund for Women</h4>
                        <p>The orientation training cost of NPR. 700 will be refunded to female applicants by the Board. For refund, applicants must submit the following documents:</p>
                        <ion-checkbox>Application</ion-checkbox>
                        <ion-checkbox>Certificate of Orientation</ion-checkbox>
                        <ion-checkbox>Labor Permit Copy</ion-checkbox>
                        <ion-checkbox>Passport Copy</ion-checkbox>
                        <ion-checkbox>Receipt</ion-checkbox>
                    </div>

                    <div class="content-listing default-radio">
                        <h4>Did you get the refund ?</h4>
                        <ion-radio ng-value="'yes'" ng-model="$parent.preOrientationData.refund">Yes</ion-radio><!--
                        --><ion-radio ng-value="'no'" ng-model="$parent.preOrientationData.refund">No</ion-radio>
                       
                    </div>
                     <button type="submit" class="btn-default">Save</button>

                </form>



                </div>
               
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
