<ion-modal-view class="modal-default">
    <ion-header-bar class="bar bar-header">
        <h1 ng-show="selectedLanguage == 'Nepali'" class="title">उक्त निकायहरुको सूची</h1>
        <h1 ng-show="selectedLanguage == 'English'" class="title">Pre-orientation Training Centers</h1>
        <button class="button button-clear btn-close" ng-click="closeModal()"><i class="ion ion-ios-close-outline"></i></button>
      </ion-header-bar>
    <ion-content scroll="false">
        <div class="item item-input searchHolder">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-show="selectedLanguage == 'Nepali'" type="search" placeholder="खोज" ng-model="preOrientationRelatedList.searchQuery"/>
            <input ng-show="selectedLanguage == 'English'" type="search" placeholder="Search" ng-model="preOrientationRelatedList.searchQuery"/>
        </div>
    </ion-content>
    <ion-content>
        <ion-list>
            <h3 ng-show="selectedLanguage == 'Nepali'">एउटा छान्नुहोस्<i class="ion-checkmark"></i></h3>
            <h3 ng-show="selectedLanguage == 'English'">Select One<i class="ion-checkmark"></i></h3>
            <label ng-repeat="relatedListing in relatedListings | filter: preOrientationRelatedList.searchQuery">
                <ion-radio ng-value="relatedListing.name" ng-click="closeModal()" ng-model="$parent.preOrientationData.selectedrelateListing">{{relatedListing.name}}</ion-radio>
            </label>
            <button class="btn-default btn-load" ng-click="loadmoreCenter()" ng-show="selectedLanguage==='English'">Load More</button>
            <button class="btn-default btn-load" ng-click="loadmoreCenter()" ng-show="selectedLanguage==='Nepali'">थप हेर्नुहोस्</button>
        </ion-list>
        <div class="blank-space"></div>
    </ion-content>
</ion-modal-view>