<ion-view view-title="Select Country" hide-nav-bar="true">
    <ion-content>
        <div class="startup-wrap">
            <img src="img/main-logo.png" alt=""/>
            <div ng-show="selectedLanguage === 'Nepali'">
                <span class="info-title">नयाँ प्रक्रिया</span>
                <form name="processStartNep" ng-submit="processNew(processStartNep.$valid)" novalidate>
                    <div class="custom-form-group" ng-class="{ 'has-error' : processStartNep.processname.$touched && processStartNep.processname.$invalid}">
                        <input type="text" placeholder="प्रक्रिया नाम" name="processname" ng-model="process.name" required />
                     <!--    <div class="validations">
                            <div ng-show="processStartNep.$submitted || processStartNep.processname.$touched">
                                <span ng-show="processStartNep.processname.$error.required" class="error">प्रक्रिया नाम आवश्यक छ</span>
                            </div>
                        </div> -->
                    </div>
                    <div class="custom-form-group">
                        <select ng-change="changeValue(countryList)" ng-model="countryList" ng-options="countryList.name for countryList in countryLists">
                            <option value="">देश छान्नुहोस</option>
                        </select>
                    </div>

                    <button ng-submit="processNew(processStartEng.$valid)">प्रबेश गर्नुहोस</button>
                </form>
             </div>
            
            <div ng-show="selectedLanguage === 'English'" >
                <span class="info-title">Select Counrty</span>
                <form name="processStartEng" ng-submit="processNew(processStartEng.$valid)" novalidate>
               <!--     <div class="custom-form-group" ng-class="{ 'has-error' : processStartEng.processname.$touched && processStartEng.processname.$invalid}">
                        <input type="text" placeholder="Process Name" name="processname" ng-model="process.name" required />
                        <div class="validations">
                            <div ng-show="processStartEng.$submitted || processStartEng.processname.$touched">
                                <span ng-show="processStartEng.processname.$error.required" class="error">Process Name is Required.</span>
                            </div>
                        </div>
                    </div> -->
                    <div class="custom-form-group">
                        <select ng-change="changeValue(countryList)" ng-model="countryList" ng-options="countryList.name for countryList in countryLists">
                            <option value="">Select Country</option>
                        </select>

                    </div>

                    <button ng-submit="processNew(processStartEng.$valid)">Enter</button> 
                </form>
                
            </div>
        </div>
    </ion-content>
</ion-view>