<ion-view>
    <ion-content id="blocked-company">
        <div id="contents" class="clearfix content-inner-page">
            <div class="content-header">
                <div class="header-left header-full">
                    <a href="" ng-show="selectedLanguage === 'Nepali'"><span>कालोसूची संगठनहरू</span></a><!--
                    --><a href="" ng-show="selectedLanguage === 'English'"><span>Blacklisted Organization</span></a><!--
                    --><span>{{selectedCountry}}</span>
                </div>
            </div>
            <div class="content-listing-wrap clearfix">
                <div class="content-sub-header clearfix">
                    <span ng-show="selectedLanguage === 'Nepali'">कालोसूचीमा सूचिकृत रोजगारदाता कम्पनीहरु </span>
                    <span ng-show="selectedLanguage === 'English'">List of Foreign Employers Blocked for conducting foreign employment in Nepal by Department of Foreign Employment:
                    </span>
                </div>
                <div class="block-listing" ng-repeat="blockedCompany in blockedCompanies">
                    <h4>{{blockedCompany.name}}</h4>
                    <span>{{blockedCompany.address}}</span><span>{{blockedCompany.country}}</span>
                </div>
            </div>
            <a href="#/app/dashboard" ng-show="selectedLanguage === 'English'" class="btn-default btn-back">Back</a>
            <a href="#/app/contract" ng-show="selectedLanguage === 'Nepali'" class="btn-default btn-back">पछाडी</a>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>