<ion-view>
    <ion-content>
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>हवाइ टिकट</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>पुनर्लेखन</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>टिकट शुल्क</span>
                    </div>
                    <div class="content-listing">
                        <p>खाडि मुलुक(सयुंक्त अरब इमिरेट्स, साउदी अरेबिया, कतार, कुवेत, ओमान) र मलेसियाका लागी अहिले हवाइटिकट निशुल्क गरिएको छ । थप जानकारीका लागी <a href="#" onclick="window.open('http://www.dofe.gov.np', '_system', 'location=yes'); return false;">www.dofe.gov.np</a>मा हेर्नुहोस ।</p>
                        <span class="highlighted-sub-title">तोकिएको बिमानस्थल–त्रिभुवन अन्तराष्ट्रिय बिमानस्थल</span>
                        <p>त्रिभुवन अन्तराष्ट्रिय बिमानस्थल भन्दा अन्यत्रबाट यात्रा गर्नु पर्दा कामदारले बैदेशिक रोजगार प्रवद्र्घन बोर्डबाट अनिवार्य रुपमा श्रम अनुमती लिनु पर्दछ । प्रस्थान गर्न अघि तीन घण्टा अगाडि बिमानस्थल अनिवार्य रुपमा पुगिसक्नु पर्दछ ।</p>
                    </div>
                    <div class="content-listing">
                        <label class="count-label">थप खर्चहरु<span>(रु)</span></label><!-- 
                        --><input type="number" />
                    </div>
                </div>
                <a href="#/app/dashboard" class="btn-default">सेभ गर्नुहोस</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>Air Ticket</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>Reset</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>About Ticket Fees</span>
                    </div>
                    <div class="content-listing">
                        <p>Air Ticket is currently free for the gulf countries(United Arab Emirates, Saudi Arabia, Qatar, kuwait, Oman) and Malaysia. For more information go to <a href="#" onclick="window.open('http://www.dofe.gov.np', '_system', 'location=yes'); return false;">www.dofe.gov.np</a></p>
                        <span class="highlighted-sub-title">Prefered Airport TIA(Tribhuvan Internatonal  Airport) </span>
                        <p>If travelling via any other ports than TIA(Tribhuvan Internatonal  Airport) , migrants must acquire labor permit from Foreign Employment Board. One must reach the airport 3 hours prior to departure. </p>
                    </div>
                     <form ng-submit="AirTicketSubmit(airTicketForm.$valid)" name="airTicketForm" novalidate id="airTicketForm">
                    <div class="content-listing">
                        <label class="count-label">Additional Costs <span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="ticketData.expense" name="expense" required ng-readonly="readonly1==true" />
                        <span ng-show="(airTicketForm.expense.$dirty || submitted) && airTicketForm.expense.$error.required">Additional Cost is required</span>
                    </div>
                 <button type="submit" class="btn-default">Save</button>
                </form>
               
                </div>
                
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
