<ion-view hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear menu-toggler" menu-toggle="left">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <a href="#/select-features" menu-close class="btn-home"><i class="ion ion-android-home"></i></a>
    </ion-nav-buttons>
    <ion-content id="dashboard">
        <div id="contents" class="clearfix">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>खर्च / जानकारी विवरण</span><i class="ion-ios-book"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><span>०/१२</span></div>
                </div>
                <div class="content-listing-wrap ">
                    <div class="dashboard-listing-group clearfix">
                        <a same-height class="dashboard-listing" href="#/app/passport">
                            <img src="img/icons/icon-passport.png" alt=""/>
                            <span>राहदानी</span>
                            <span>रू ००००००</span>
                        </a>
                        <a same-height class="dashboard-listing" href="#/app/health-checkups">
                            <img src="img/icons/icon-health-checkups.png" alt=""/>
                            <span>स्वास्थ्य परिक्षण</span>
                            <span>रू ००००००</span>
                        </a>
                        <a same-height class="dashboard-listing" href="#/app/skill-development">
                            <img src="img/icons/icon-skill-development.png" alt=""/>
                            <span>सीप विकास तालिम</span>
                            <span>रू ००००००</span>
                        </a>
                    </div>
                    <div class="dashboard-listing-group clearfix">
                        <a same-height class="dashboard-listing" href="#/app/manpower-agency">
                            <img src="img/icons/icon-manpower-agency.png" alt=""/>
                            <span>मेनपावर कम्पनी</span>
                            <span>रू ००००००</span>
                        </a>
                        <a same-height class="dashboard-listing" href="#/app/contract">
                            <img src="img/icons/icon-contract.png" alt=""/>
                            <span>सम्झौता</span>
                            <span>रू ००००००</span>
                        </a>
                        <a same-height class="dashboard-listing" href="#/app/visa-request">
                            <img src="img/icons/icons-visa-request.png" alt=""/>
                            <span>भिसा अनुरोध</span>
                            <span>रू ००००००</span>
                        </a>
                    </div>
                    <div class="dashboard-listing-group clearfix">
                        <a same-height class="dashboard-listing" href="#/app/air-tickets">
                            <img src="img/icons/icon-air-tickets.png" alt=""/>
                            <span>हवाई टिकट</span>
                            <span>रू ००००००</span>
                        </a>
                        <a same-height class="dashboard-listing" href="#/app/loan">
                            <img src="img/icons/icon-loan.png" alt=""/>
                            <span>ऋण</span>
                            <span>रू ००००००</span>
                        </a>
                        <a same-height class="dashboard-listing" href="#/app/insurance">
                            <img src="img/icons/icon-insurance.png" alt=""/>
                            <span>बीमा</span>
                            <span>रू ००००००</span>
                        </a>
                    </div>
                    <div class="dashboard-listing-group clearfix">
                        <a same-height class="dashboard-listing" href="#/app/welfare-fund">
                            <img src="img/icons/icon-walefare-fund.png" alt=""/>
                            <span>कल्याणकारी कोष</span>
                            <span>रू ००००००</span>
                        </a>
                        <a same-height class="dashboard-listing" href="#/app/labor-permit">
                            <img src="img/icons/icon-labor-permit.png" alt=""/>
                            <span>श्रम स्वीकृति</span>
                            <span>रू ००००००</span>
                        </a>
                        <a same-height class="dashboard-listing" href="#/app/pre-orientation-training">
                            <img src="img/icons/icon-pre-orientation-training.png" alt=""/>
                            <span>पूर्व अभिमुखिकरण तालिम</span>
                            <span>रू ०००</span>
                        </a>                        
                    </div>
                </div>
                <a href="#/app/bulk-amount" class="btn-default dash-button">मैले पैसा तिरिसके !</a>            
                <a href="#/app/financial-analysis" class="btn-default">नतिजा</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>Cost / Information Statement</span><i class="ion-ios-book"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><span>{{count}}/12</span></div>
                </div>
                <div class="content-listing-wrap">
                    <div class="dashboard-listing-group clearfix">
                        <a same-height class="dashboard-listing" href="#/app/passport">
                            <img src="img/icons/icon-passport.png" alt=""/>
                            <span>Passport</span>
                            <span ng-if="PassportTotalCost==undefined || PassportTotalCost<=0">Rs 000000</span>
                            <span ng-if="PassportTotalCost>0">Rs {{PassportTotalCost}}</span>
                        </a>
                        <a same-height class="dashboard-listing" href="#/app/health-checkups">
                            <img src="img/icons/icon-health-checkups.png" alt=""/>
                            <span>Health Checkup</span>
                             <span ng-if="CheckupTotalCost==undefined || CheckupTotalCost<=0">Rs 000000</span>
                            <span ng-if="CheckupTotalCost>0">Rs {{CheckupTotalCost}}</span>
                        </a>
                        <a same-height class="dashboard-listing" href="#/app/skill-development">
                            <img src="img/icons/icon-skill-development.png" alt=""/>
                            <span>Skill Development</span>
                            <span ng-if="SkillDevelopmentTotalCost ==undefined || SkillDevelopmentTotalCost <=0">Rs 000000</span>
                            <span ng-if="SkillDevelopmentTotalCost >0">Rs {{SkillDevelopmentTotalCost}}</span>
                        </a>
                    </div>
                    <div class="dashboard-listing-group clearfix">
                        <a same-height class="dashboard-listing" href="#/app/manpower-agency">
                            <img src="img/icons/icon-manpower-agency.png" alt=""/>
                            <span>Manpower Company</span>
                            <span ng-if="ManpowerCost==undefined || ManpowerCost<=0">Rs 000000</span>
                            <span ng-if="ManpowerCost>0">Rs {{ManpowerCost}}</span>
                        </a>
                        <a same-height class="dashboard-listing" href="#/app/contract">
                            <img src="img/icons/icon-contract.png" alt=""/>
                            <span>Contract</span>
                           <span ng-if="MonthlyIncome==undefined || MonthlyIncome<=0">Rs 000000</span>
                            <span ng-if="MonthlyIncome>0">Rs {{MonthlyIncome}}</span>
                        </a>
                        <a same-height class="dashboard-listing" href="#/app/visa-request">
                            <img src="img/icons/icons-visa-request.png" alt=""/>
                            <span>Visa Request</span>
                            <span ng-if="VisaRequestCost ==undefined || VisaRequestCost<=0">Rs 000000</span>
                            <span ng-if="VisaRequestCost>0">Rs {{VisaRequestCost}}</span>
                        </a>
                    </div>
                    <div class="dashboard-listing-group clearfix">
                        <a same-height class="dashboard-listing" href="#/app/air-tickets">
                            <img src="img/icons/icon-air-tickets.png" alt=""/>
                            <span>Air Ticket</span>
                           <span ng-if="AirTicketCost ==undefined || AirTicketCost<=0">Rs 000000</span>
                            <span ng-if="AirTicketCost>0">Rs {{AirTicketCost}}</span>
                        </a>
                        <a same-height class="dashboard-listing" href="#/app/loan">
                            <img src="img/icons/icon-loan.png" alt=""/>
                            <span>Loans</span>
                            <span ng-if="LoanAmount==undefined || LoanAmount<=0">Rs 000000</span>
                            <span ng-if="LoanAmount>0">Rs {{LoanAmount}}</span>
                        </a>
                        <a same-height class="dashboard-listing" href="#/app/insurance">
                            <img src="img/icons/icon-insurance.png" alt=""/>
                            <span>Insurance</span>
                            <span ng-if="InsuranceCostCost==undefined || InsuranceCostCost<=0">Rs 000000</span>
                            <span ng-if="InsuranceCostCost>0">Rs {{InsuranceCostCost}}</span>
                        </a>
                    </div>
                    <div class="dashboard-listing-group clearfix">
                        <a same-height class="dashboard-listing" href="#/app/welfare-fund">
                            <img src="img/icons/icon-walefare-fund.png" alt=""/>
                             <span>Welfare Cost</span>
                            <span ng-if="WelfareCost==undefined || WelfareCost<=0">Rs 000000</span>
                            <span ng-if="WelfareCost>0">Rs {{WelfareCost}}</span>
                        </a>
                        <a same-height class="dashboard-listing" href="#/app/labor-permit">
                            <img src="img/icons/icon-labor-permit.png" alt=""/>
                            <span>Labor Permit</span>
                            <span ng-if="LabourCost==undefined || LabourCost<=0">Rs 000000</span>
                            <span ng-if="LabourCost>0">Rs {{LabourCost}}</span>
                        </a>
                        <a same-height class="dashboard-listing" href="#/app/pre-orientation-training">
                            <img src="img/icons/icon-pre-orientation-training.png" alt=""/>
                            <span>Pre-Orientation Training</span>
                            <span ng-if="TrainningCost==undefined || TrainningCost<=0">Rs 000000</span>
                            <span ng-if="TrainningCost>0">Rs {{TrainningCost}}</span>
                        </a>
                    </div>
                </div>
                <a href="#/app/bulk-amount" class="btn-default dash-button-eng dash-button-eng-size">I have already paid !</a>            
                <a href="#/app/financial-analysis" class="btn-default dash-button-eng-size">Result</a>            
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>