<ion-view>
    <ion-content>
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left header-full">
                        <a href=""><span>वित्तीय/आर्थिक विश्लेषण</span><i class="ion-ios-book"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div>
                </div>
                <div class="content-listing-wrap clearfix">                
                    <div class="content-listing">
                        <label class="count-label">सम्झौता अनुसारको आम्दानी<span>(रु)</span><span class="result-month">(२४ महिना)</span></label><!--
                    --><span class="result-data-static"></span>
                    </div>
                    <div class="content-listing">
                        <label class="count-label">बसाई खर्च<span>(रु)</span><span class="result-month">(२४ महिना)</span></label><!--
                    --><span class="result-data-static"></span>
                    </div>
                    <div class="content-listing">
                        <label class="count-label">ऋण भुक्तानी<span>(रु)</span></label><!--
                    --><span class="result-data-static"></span>
                    </div>
                    <div class="content-listing">
                        <label class="count-label">कुल प्रक्रिया खर्च<span>(रु)</span></label><!--
                    --><span class="result-data-static"></span>
                    </div>
                    <div class="content-listing">
                        <label class="count-label">जम्मा कुल आम्दानी<span>(रु)</span><span class="result-month">(२४ महिना)</span></label><!--
                    --><span class="result-data-static"></span>
                    </div>
                    <div class="content-listing">
                        <label class="count-label">खुद आम्दानी / बचत<span>(रु)</span><span class="result-month">(मासिक)</span></label><!--
                    --><span class="result-data-static"></span>
                    </div>
                </div>
                <a href="#/app/dashboard" class="btn-default">हुन्छ</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left header-full">
                        <a href=""><span>Income / Expense Details</span><i class="ion-ios-book"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div>
                </div>
                <div class="content-listing-wrap clearfix">                
                    <div class="content-listing">
                        <label class="count-label">Contract Income<span>(Rs.)</span><span class="result-month">(24 Months)</span></label><!--
                    --><span class="result-data-static">{{contractIncome}}</span>
                    </div>
                    <div class="content-listing">
                        <label class="count-label">Living Expenses<span>(Rs.)</span><span class="result-month">(24 Months)</span></label><!--
                    --><span class="result-data-static">{{livingExpense}}</span>
                    </div>
                    <div class="content-listing">
                        <label class="count-label">Loan Repayment<span>(Rs.)</span></label><!--
                    --><span class="result-data-static">{{loanRepay}}</span>
                    </div>
                    <div class="content-listing">
                        <label class="count-label">Total Processing Expenses<span>(Rs.)</span><span class="result-month"></span></label><!--
                    --><span class="result-data-static">{{TotalNetExpenses}}</span>
                    </div>
                    <div class="content-listing">
                        <label class="count-label">Total Net Income<span>(Rs.)</span><span class="result-month">(24 Months)</span></label><!--
                    --><span class="result-data-static">{{TotalNetIncome}}</span>
                    </div>
                    <div class="content-listing">
                        <label class="count-label">Net Income / Saving<span>(Rs.)</span><span class="result-month">(per Months)</span></label><!--
                    --><span class="result-data-static">{{NetIncome}}</span>
                    </div>

                     <div class="content-listing">
                        <label class="count-label">Total Processing Expense<span>(Rs.)</span></label><!--
                    --><span class="result-data-static">{{TotalProcessingExpense}}</span>
                    </div>
                </div>
                <a href="#/app/dashboard" class="btn-default">Save</a>
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>