<ion-view>
    <ion-content>
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>श्रम स्वीकृति</span><i class="ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>पुनर्लेखन</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>आवश्यक बिल एवं कागजातहरु</span>
                    </div>

                    <div class="content-listing">
                        <span>उल्लेखित अनिवार्य कागजातहरु</span>
                        <ion-checkbox>भिसाको फोटोकपी</ion-checkbox>
                        <ion-checkbox>नागरिताको फोटोकपी</ion-checkbox>
                        <ion-checkbox>सक्कल राहदानी</ion-checkbox>
                        <ion-checkbox>मेनपावरलाई भुक्तानी दिइएको नगदी रसिद</ion-checkbox>
                        <ion-checkbox>सम्झौता</ion-checkbox>
                        <ion-checkbox>बीमाको प्रमाणपत्र</ion-checkbox>
                        <ion-checkbox>अभिमुखिकरण तालिमको प्रमाणपत्र</ion-checkbox>
                        <ion-checkbox>स्वास्थ्य परिक्षण प्रमाणपत्र</ion-checkbox>
                        <ion-checkbox>बैदेशिक रोजगार कल्याणकारी कोषमा जम्मा गरेको नगद रु १००० को रसिद</ion-checkbox>
                        <ion-checkbox>कुवेतको लागी पुलिस रिपोर्ट अनिवार्य</ion-checkbox>
                    </div>
                    <p>आवेदकको श्रम स्वीकृति विवरण बारेमा थप जान्न, पासपोर्ट नम्बर लेखेर ४००१ मा एसएमएस पठाउनुहोस् ।</p>
                    <p>थप जानकारीका लागि <a href="#" onclick="window.open('http://www.mole.gov.np', '_system', 'location=yes'); return false;">www.mole.gov.np</a>मा हेर्नुहुन अनुरोध छ ।</p>

                    <div class="content-listing">
                        <label class="count-label">थप खर्चहरु<span>(रु)</span></label><!--
                        --><input type="number" />
                    </div>
                </div>
                <a href="#/app/dashboard" class="btn-default">सेभ गर्नुहोस</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>Labor Permit</span><i class="ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>Reset</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>Documents Required</span>
                    </div>

                    <div class="content-listing">
                        <span>Following Documents are necessary : </span>                    
                        <ion-checkbox>Copy of visa</ion-checkbox>
                        <ion-checkbox>Copy of citizenship document</ion-checkbox>
                        <ion-checkbox>Original passport</ion-checkbox>
                        <ion-checkbox>Receipt of payment to manpower agency</ion-checkbox>
                        <ion-checkbox>Contract</ion-checkbox>
                        <ion-checkbox>Insurance Certificate</ion-checkbox>
                        <ion-checkbox>Orientation training cetificate</ion-checkbox>
                        <ion-checkbox>Health certificate</ion-checkbox>
                        <ion-checkbox>Rs.1000 deposit receipt of FEWF</ion-checkbox>
                        <ion-checkbox>For Kuwait, police report is mandatory</ion-checkbox>
                    </div>
                            <p>To know more about the applicant's labor permit details, send SMS to 4001 by entering the passport number.</p>
                    <p>Please go to the <a href="#" onclick="window.open('http://www.mole.gov.np', '_system', 'location=yes'); return false;">www.mole.gov.np</a> for more details.</p>
                     <form ng-submit="LabourPermitSubmit(labourPermitForm.$valid)" name="labourPermitForm" novalidate id="labourPermitForm">
                     <div class="content-listing">
                        <label class="count-label">Additional Expenses<span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="labourData.additionalExpense" name="additionalExpense" required  ng-readonly="readonly==true"/>
                         <span ng-show="(labourPermitForm.additionalExpense.$dirty || submitted) && labourPermitForm.additionalExpense.$error.required">Additional Cost is required</span>
                    </div>
                      <button type="submit" class="btn-default">Save</button>
                </form>
                </div>
                
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
