<ion-view>
    <ion-content>
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>ऋण सम्बन्धि जानकारी</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selecredCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>पुनर्लेखन</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-listing">
                        <label class="count-label">आवश्यक जम्मा रकम<span>(रु)</span></label><!--
                        --><input type="number" />
                    </div>

                    <div class="content-listing">
                        <label class="count-label">आफूसँग भएको जम्मा नगद<span>(रु)</span></label><!--
                        --><input type="number" />
                    </div>

                    <div class="content-listing">
                        <label class="count-label">ऋण रकम<span>(रु)</span></label><!--
                        --><input type="number" />
                    </div>

                    <div class="content-listing clearfix">
                        <h4>ऋणको श्रोत</h4>
                        <div class="col-33">
                            <label>बैंक/सहकारी</label>
                            <input type="text" />
                            <input type="text" />
                            <input type="text" />
                        </div><!--
                        --><div class="col-33">
                            <label>रकम (रु)</label>
                            <input type="number" />
                            <input type="number" />
                            <input type="number" />
                        </div><!--
                        --><div class="col-33">
                            <label>ब्याजदर %</label>
                            <input type="number" />
                            <input type="number" />
                            <input type="number" />
                        </div>
                        <div class="col-33">
                            <label>आफन्त/अन्य मार्फत</label>
                            <input type="text" />
                            <input type="text" />
                            <input type="text" />
                        </div><!--
                        --><div class="col-33">
                            <label>रकम (रु)</label>
                            <input type="number" />
                            <input type="number" />
                            <input type="number" />
                        </div><!--
                        --><div class="col-33">
                            <label>ब्याजदर 
                                <select>
                                    <option>%</option>
                                    <option>रु</option>
                                </select>
                            </label>
                            <input type="number" />
                            <input type="number" />
                            <input type="number" />
                        </div>
                    </div>
                </div>
                <a href="#/app/dashboard" class="btn-default">सेभ गर्नुहोस</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">



                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>Loan Info</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selecredCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>Reset</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                     <form ng-submit="LoanSubmit(loanForm.$valid)" name="loanForm" novalidate id="loanForm">

                    <div class="content-listing">
                        <label class="count-label">Total Amount Required<span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="loanData.totalLoanAmount" name="totalLoanAmount" required ng-change="onChange()" />
                        <span ng-show="(loanForm.totalLoanAmount.$dirty || submitted) && loanForm.totalLoanAmount.$error.required">Total Amount is required</span>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">Cash in Hand<span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="loanData.handCash" ng-change="onChange()"/>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">Loan Amount<span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="loanData.loanAmount"  readonly ng-change="onChangeLoanData()"/>
                    </div>

                    <div class="content-listing clearfix">
                        <h4>Sources of Loan</h4>
                        <div class="col-33">
                            <label>Bank/ Co-op.</label>
                            <input type="text" ng-model="loanData.bankName1"  />
                            <input type="text" ng-model="loanData.bankName2"  />
                            <input type="text" ng-model="loanData.bankName3"  />
                        </div><!--
                        --><div class="col-33">
                            <label>Amount (Rs.)</label>
                            <input type="number" ng-model="loanData.bankAmount1" ng-change="onChangeLoanData()"   />
                            <input type="number" ng-model="loanData.bankAmount2" ng-change="onChangeLoanData()"  />
                            <input type="number" ng-model="loanData.bankAmount3" ng-change="onChangeLoanData()"  />
                        </div><!--
                        --><div class="col-33">
                            <label>Interest Rate %</label>
                            <input type="number" ng-model="loanData.bankIntrest1" ng-change="onChangeLoanData()" />
                            <input type="number" ng-model="loanData.bankIntrest2" ng-change="onChangeLoanData()" />
                            <input type="number" ng-model="loanData.bankIntrest3" ng-change="onChangeLoanData()" />
                        </div>
                        <div class="col-33">
                            <label>Relatives/ Other</label>
                            <input type="text" ng-model="loanData.relativeName1"  />
                            <input type="text" ng-model="loanData.relativeName2"  />
                            <input type="text" ng-model="loanData.relativeName3"  />
                        </div><!--
                        --><div class="col-33">
                            <label>Amount (Rs.)</label>
                            <input type="number" ng-model="loanData.relativeAmount1" ng-change="onChangeLoanData()" />
                            <input type="number" ng-model="loanData.relativeAmount2" ng-change="onChangeLoanData()"  />
                            <input type="number" ng-model="loanData.relativeAmount3" ng-change="onChangeLoanData()" />
                        </div><!--
                        --><div class="col-33">
                            <label>Interest Rate 
                                <!-- <select ng-model="loanData.IntrestRate">

                                    <option ng-value="'%'" ng-selected="selected">%</option>
                                    <option ng-value="'Rs'">Rs</option>
                                </select> -->
                                
                            </label>

                            <input type="number" ng-model="loanData.relativeIntrest1" ng-change="onChangeLoanData()"  />
                             <select ng-model="loanData.IntrestRate1" ng-change="onChangeLoanData()">

                                    <option ng-value="'%'" ng-selected="selected">%</option>
                                    <option ng-value="'Rs'">Rs</option>
                                </select>
                            <input type="number" ng-model="loanData.relativeIntrest2" ng-change="onChangeLoanData()"  />
                             <select ng-model="loanData.IntrestRate2" ng-change="onChangeLoanData()">

                                    <option ng-value="'%'" ng-selected="selected">%</option>
                                    <option ng-value="'Rs'">Rs</option>
                                </select>
                            <input type="number" ng-model="loanData.relativeIntrest3" ng-change="onChangeLoanData()"  />
                             <select ng-model="loanData.IntrestRate3" ng-change="onChangeLoanData()">

                                    <option ng-value="'%'" ng-selected="selected">%</option>
                                    <option ng-value="'Rs'">Rs</option>
                                </select>
                        </div>




                           <div class="col-33">
                            <label>Total interest per year (Rs.)</label>
                            <input type="text" ng-model="loanData.TotalIntrest" readonly  />
                             
                        </div>
                        <div class="col-33">

                        <label>No. of years</label>
                            <input type="text" ng-model="loanData.NoOfYear" required ng-change="onChangeLoanData()" />
                        </div>
                   
                    <div class="col-33">

                        <label>Total Interest Amount (Rs.)</label>
                            <input type="text" ng-model="loanData.TotalIntrestAmounts"  /></div>
                    </div>

                     <div class="content-listing">
                        <label class="count-label">Total Loan Amount <span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="loanData.totalLoanAmounts" name="totalLoanAmount"  />
                       <!--  <span ng-show="(loanForm.totalLoanAmount.$dirty || submitted) && loanForm.totalLoanAmount.$error.required">Total Amount is required</span> -->
                    </div>


                 <button type="submit" class="btn-default">Save</button>
                </form>
                </div>
               
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
