<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear menu-toggler" menu-toggle="left">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </ion-nav-buttons>
            
            <ion-nav-title>
                <div class="logo-wrap">
                    <img src="img/main-logo.png" alt="Main Logo"/>
              </div>
            </ion-nav-title>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" ng-show="selectedLanguage === 'Nepali'">
      <ion-header-bar class="bar-stable">
          <h1 class="title">पूर्व प्रस्थान संसाधन</h1>
      </ion-header-bar>
      <ion-content id="main-menu">
          <ion-list>
              <ion-item menu-close href="#/app/dashboard">
                    ड्यासबोर्ड
                </ion-item>
              <ion-item menu-close href="#/app/passport-download-list">
                  राहदानी नमूनाहरू
              </ion-item>
              <ion-item menu-close href="#/app/health-center-details">
                  स्वास्थ्य केन्द्रहरू
              </ion-item>
              <ion-item menu-close href="#/app/skill-development-training-center-detail">
                  सीप विकास केन्द्रहरू
              </ion-item>
              <ion-item menu-close href="#/app/manpower-detail">
                  मेनपावर कम्पनीहरू
              </ion-item>
              <ion-item menu-close href="#/app/compensation">
                  बीमा कम्पनीहरू
              </ion-item>
              <ion-item menu-close href="#/app/pre-orientation-centers-detal">
                  पूर्व अभिमुखिकरण तालिम केन्द्रहरू
              </ion-item>
              <ion-item menu-close href="#/app/embassies">
                  दूतावासहरू
              </ion-item>
              <ion-item menu-close href="#/app/playlists">
                  हटलाइनहरू
              </ion-item>
              <ion-item menu-close href="#/app/playlists">
                  संगठनहरू
              </ion-item>
              <ion-item menu-close href="#/app/blocked-companies">
                  अवरुद्ध विदेशी रोजगारदाता कम्पनीहरु
              </ion-item>
              <ion-item menu-close href="#/session-listing">
                  हेल्पलाइन
              </ion-item>
              <ion-item menu-close href="#/language-selection">
                  भाषा परिवर्तन
              </ion-item>
          </ion-list>
      </ion-content>
    </ion-side-menu>
    
    <ion-side-menu side="left" ng-show="selectedLanguage === 'English'">
      <ion-header-bar class="bar-stable">
          <h1 class="title">Pre-Departure Resources</h1>
      </ion-header-bar>
      <ion-content id="main-menu">
          <ion-list>
                <ion-item menu-close href="#/app/dashboard">
                    Dashboard
                </ion-item>
                <ion-item menu-close href="#/app/passport-download-list">
                    Passport Samples
                </ion-item>
                <ion-item menu-close href="#/app/health-center-details">
                    Health Centers
                </ion-item>
                <ion-item menu-close href="#/app/skill-development-training-center-detail">
                    Skill Development Centers
                </ion-item>
                <ion-item menu-close href="#/app/manpower-detail">
                    Man Power Companies
                </ion-item>
                <ion-item menu-close href="#/app/compensation">
                    Insurance Companies
                </ion-item>
                <ion-item menu-close href="#/app/pre-orientation-centers-detal">
                    Pre-Orientation Centers 
                </ion-item>
                <ion-item menu-close href="#/app/embassies">
                    Embassies Info
                </ion-item>
                <ion-item menu-close href="#/app/playlists">
                    Hotlines
                </ion-item>
                <ion-item menu-close href="#/app/playlists">
                    Organizations
                </ion-item>
                <ion-item menu-close href="#/app/blocked-companies">
                    Blocked Foreign Employers
                </ion-item>
                <ion-item menu-close href="#/session-listing">
                    Helplines
                </ion-item>
                <ion-item menu-close href="#/language-selection">
                    Change Language
                </ion-item>
          </ion-list>
      </ion-content>
    </ion-side-menu>
</ion-side-menus>
