<ion-view>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear menu-toggler" menu-toggle="left">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a href="#/select-features" menu-close class="btn-home"><i class="ion ion-android-home"></i></a>
    </ion-nav-buttons>
    <ion-content id="pre-departure">
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>प्रस्थान गर्न अघि</span><i class="ion-ios-book"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>पुनर्लेखन</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>आवश्यक बिल एवं कागजात </span><!--
                        --><a href=""><i class="ion ion-volume-medium"></i></a>
                    </div>
                    <div class="content-listing">
                        <h4>उल्लेखित अनिवार्य कागजातहरु</h4>
                        <ion-checkbox>राहदानी</ion-checkbox>
                        <ion-checkbox>भिसा</ion-checkbox>
                        <ion-checkbox>श्रम अनुमती</ion-checkbox>
                        <ion-checkbox>सम्झौतापत्र</ion-checkbox>
                        <ion-checkbox>पूर्वअभिमुखिकरण प्रमाणपत्र</ion-checkbox>
                        <ion-checkbox>बीमाको किस्ता भुक्तानी रसिद</ion-checkbox>
                        <ion-checkbox>स्वास्थ्य परिक्षण प्रमाणपत्र</ion-checkbox>
                        <ion-checkbox>आफ्नो परिवार सँग कागजातको एक प्रति छोड्न</ion-checkbox>
                        <ion-checkbox>मेनपावर एजेन्टको ठेगाना सहित विस्तृत विवरण</ion-checkbox>
                        <ion-checkbox>मेनपावरमा भुक्तानी गरिएको नगदी रसिद</ion-checkbox>
                        <ion-checkbox>पुलिस रिपोर्ट चाहिन्छ कि चाहिँदैन मेनपावर एजेन्टलाई सोध्नुहोस</ion-checkbox>
                        <ion-checkbox>नेपाली राजदुतावासको सम्पर्क विवरणहरु आफूसँग राख्नुहोस</ion-checkbox>
                    </div>
                </div>
                <a href="#/select-features" class="btn-default">सेभ गर्नुहोस</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>Pre-departure</span><i class="ion-ios-book"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>Reset</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>Required Receipts & Documents </span><!--
                        --><a href=""><i class="ion ion-volume-medium"></i></a>
                    </div>
                    <div class="content-listing">
                        <h4>Following Documents are necessary :</h4>
                        <ion-checkbox>Passport</ion-checkbox>
                        <ion-checkbox>Visa</ion-checkbox>
                        <ion-checkbox>Labor Permit</ion-checkbox>
                        <ion-checkbox>Contract</ion-checkbox>
                        <ion-checkbox>Pre-Orientation Certificate</ion-checkbox>
                        <ion-checkbox>Insurance premium Receipt</ion-checkbox>
                        <ion-checkbox>Health Checkup Certificate</ion-checkbox>
                        <ion-checkbox>Copy of Documents with the family</ion-checkbox>
                        <ion-checkbox>Details of manpower agent with address</ion-checkbox>
                        <ion-checkbox>Manpower paid cash receipt</ion-checkbox>
                        <ion-checkbox>Check with the agent if police report is necessary.</ion-checkbox>
                        <ion-checkbox>Keep contact info of the Nepalese embassy.</ion-checkbox>
                    </div>
                </div>
                <a href="#/select-features" class="btn-default">Save</a>
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
