<ion-view view-title="Selected Features" hide-nav-bar="true">
    <ion-content>
        <div class="selected-features-wrap">
            <img src="img/main-logo.png" alt=""/>
            <div ng-show="selectedLanguage == 'Nepali'">
                <h2>एउटा छान्नुहोस</h2>
                <a href="#/app/dashboard">विदेश जाने तयारीमा</a>
                <a href="#/app/pre-departure">प्रस्थान गर्नु अघि</a>
                <a href="#/app/while-abroad">विदेशमा हुँदा</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <h2>Select One</h2>
                <a href="#/app/dashboard">Pre-Employment</a>
                <a href="#/app/pre-departure">Pre-Departure</a>
                <a href="#/app/while-abroad">While Abroad</a>
            </div>
        </div>
    </ion-content>
</ion-view>
