<ion-view>
    <ion-content id="visa-info">
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>भिसा</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>पुनर्लेखन</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>भिसा शुल्क</span>
                    </div>
                    <div class="content-listing">
                        <p>अहिले खाडी मुलुक(सयुंक्त अरब इमिरेट्स, साउदी अरेबिया, कतार, कुवेत, ओमान) र मलेसियामा भिसा निशुल्क गरिएको छ । साथै घरेलु कामदारका लागी समेत भिसा निशुल्क छ । अरु जानकारीका लागी <a href="#" onclick="window.open('http://www.dofe.gov.np', '_system', 'location=yes'); return false;">www.dofe.gov.np</a>मा जानुहोस् ।</p>
                    </div>
                    <div class="content-listing">
                        <label class="count-label">थप खर्चहरु<span>(रु)</span></label><!--
                        --><input type="number" />
                    </div>
                </div>
                <a href="#/app/dashboard" class="btn-default">सेभ गर्नुहोस</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>Visa</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>Reset</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header">
                        <span>Visa Fee</span>
                    </div>
                    <div class="content-listing">
                        <p>Visa is currently free for the gulf countries(United Arab Emirates, Saudi Arabia, Qatar, kuwait, Oman) and Malaysia. Visa is also free for domestic worker. For more information go to <a href="#" onclick="window.open('http://www.dofe.gov.np', '_system', 'location=yes'); return false;">www.dofe.gov.np</a></p>
                    </div>

                     <form ng-submit="VisaSubmit(visaSubmitForm.$valid)" name="visaSubmitForm" novalidate id="visaSubmitForm">

                    <div class="content-listing">
                        <label class="count-label">Aditional Expenses<span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="visaData.expense" name="expense" required ng-readonly="readonly3==true" />
                        <span ng-show="(visaSubmitForm.expense.$dirty || submitted) && visaSubmitForm.expense.$error.required">Additional Cost is required</span>
                    </div>
                     <button type="submit" class="btn-default">Save</button>
                 </form>


                </div>
               
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
