<ion-view>
    <ion-content >
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>कल्याणकारी कोष</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>पुनर्लेखन</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header clearfix">
                        <span>बैदेशिक रोजगार कल्याणकारी कोषको बारेमा</span>
                    </div>

                    <div class="content-listing">
                        <p>
                             सर्वप्रथम श्रम स्वीकृती प्राप्त गर्न कल्याणकारी कोषमा दर्ता बापत रु १००० रकम बैदेशिक रोजगार विभागमा गई बुझाउनु पर्दछ । बैदेशिक रोजगार कल्याणकारी कोषमा दर्ता गरे पश्चात मृतू भएमा बीमा गरे बापत बीमा कम्पनीबाट रु ५ लाख दिइने र अंगभंग भएमा क्षतिपूर्तिको आधारमा उपचार खर्च दिने व्यवस्था छ । साथै कल्याणकारी कोषमार्फत तल भनिए बमोजिम आर्थिक सहायता उपलब्ध हुने व्यवस्था छ:
                        </p>
                        <ul class="lisitng-full">
                            <li><p>मृतकका परिवार/हकवालालाई रु. १५०००० आर्थिक सहायता दिइने</p></li>
                            <li><p>अंगभंग भएर फर्किएकाहरुलाई क्षतिप७त्रगयतसर्तिको आधारमा १५०००० सम्मको आर्थिक सहायता दिइने</p></li>
                            <li><p>बिरामी भई फर्किएका कामदारहरुलाई नेपालमा उपचारमा सहयोग पुऱ्याउने</p></li>
                            <li><p>गन्तव्य मुलुकमा कानुनी उपचारका लागि सहयोग पुऱ्याउने</p></li>
                            <li><p>सुरक्षित गृहको व्यवस्था गरी आवश्यक सहयोग पुऱ्याउने</p></li>
                            <li><p>कानुनी एवं मनोगत परामर्श प्रदान गर्ने</p></li>
                            <li><p>मृतकका परिवार, हकवालालाइ एवं अंगभंग भएर फर्किएका कामदारका बालबच्चाको शैक्षिक विकासमा सहयोग गर्ने</p></li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">बैदेशिक रोजगार कल्याणकारी कोष शुल्क <span>(रु)</span></label><!--
                        --><input type="number" />
                    </div>

                    <div class="content-listing">
                        <label class="count-label">थप खर्चहरु<span>(रु)</span></label><!--
                        --><input type="number" />
                    </div>
                </div>
                <a href="#/app/dashboard" class="btn-default">सेभ गर्नुहोस</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>Welfare Fund</span><i class="ion ion-volume-medium"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>Reset</a></div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header clearfix">
                        <span>Foreign Employment Welfare Fund</span>
                    </div>

                    <div class="content-listing">
                        <p>
                            First of all, all migrant workers are required to deposit 1000 rupees for welfare fund in Foreign Employment Board (FEB) to get the labor permit registration certificate.  Insurance company will provide 5 lakh rupees in case of death during the foreign employment, Other support for partial injuries if he/she registered in welfare fund. In the case of following reason foreign employment welfare fund may support for migrants:
                        </p>
                        <ul class="lisitng-full">
                            <li><p>One lakh fifty thousand rupees will be provided for family member and nominee</p></li>
                            <li><p>Till one lakh fifty thousand rupees will be provided for injured people on the basis of injuries</p></li>
                            <li><p>Returnee migrants due to illness will be provided medical support treatment in Nepal</p></li>
                            <li><p>Legal treatment will be provided in destination country</p></li>
                            <li><p>Rehabilitation home support will be provided</p></li>
                            <li><p>Legal & psychosocial counselling will be provided</p></li>
                            <li><p>support for children on educational development of foreign employment victim family or nominee</p></li>
                        </ul>
                    </div>

                    <form ng-submit="WelfareSubmit(welfareSubmitForm.$valid)" name="welfareSubmitForm" novalidate id="welfareSubmitForm">

                    <div class="content-listing">
                        <label class="count-label">Forign Employment Welfare Fund Cost<span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="welfareData.fundCost" name="fundCost" required ng-readonly="readonly2==true" />
                         <span ng-show="(welfareSubmitForm.fundCost.$dirty || submitted) && welfareSubmitForm.fundCost.$error.required">Welfare Fund Cost is required</span>
                    </div>

                    <div class="content-listing">
                        <label class="count-label">Additional Cost<span>(Rs.)</span></label><!--
                        --><input type="number" ng-model="welfareData.additionalCost" name="additionalCost" required />
                        <span ng-show="(welfareSubmitForm.additionalCost.$dirty || submitted) && welfareSubmitForm.additionalCost.$error.required">Additional Cost is required</span>
                    </div>
                    <button type="submit" class="btn-default">Save</button>
                </form>
                </div>
             
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>