<ion-view>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear menu-toggler" menu-toggle="left">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <a href="#/select-features" menu-close class="btn-home"><i class="ion ion-android-home"></i></a>
    </ion-nav-buttons>
    <ion-content id="while-abroad">
        <div id="contents" class="clearfix content-inner-page">
            <div ng-show="selectedLanguage == 'Nepali'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>विदेशमा हुँदा</span><i class="ion-ios-book"></i></a><!--
                        --><span>{{SelectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>पुनर्लेखन</a></div>
                </div>
                <div class="content-listing-wrap">
    <!--                <div class="content-sub-header clearfix">
                        <div class="current-date">
                            <span>मिती:</span>
                            <input type="text" />
                        </div>
                        <div class="available-user clearfix">
                            <span>नाम:</span>
                            <input type="text" />
                        </div>
                    </div>-->
                    <span>मासिक आर्थिक विवरण रुपैयामा</span>
                    <div class="content-listing">
                        <h4>रोजगार पूर्वका खर्चहरु</h4>
                        <ul class="lisitng-full">
                            <li class="clearfix"><label>राहदानी<span>(रु)</span></label><span></span></li>
                            <li class="clearfix"><label>स्वास्थ्य परिक्षण<span>(रु)</span></label><span></span></li>
                            <li class="clearfix"><label>सीप विकास तालिम<span>(रु)</span>त</label><span></span></li>
                            <li class="clearfix"><label>मेनपावर कम्पनी<span>(रु)</span></label><span></span></li>
                            <li class="clearfix"><label>सम्झौता<span>(रु)</span></label><span></span></li>
                            <li class="clearfix"><label>भिसा अनुरोध<span>(रु)</span></label><span></span></li>
                            <li class="clearfix"><label>हवाई टिकट<span>(रु)</span></label><span></span></li>
                            <li class="clearfix"><label>ऋण<span>(रु)</span></label><span></span></li>
                            <li class="clearfix"><label>बीमा<span>(रु)</span></label><span></span></li>
                            <li class="clearfix"><label>कल्याणकारी कोष<span>(रु)</span></label><span></span></li>
                            <li class="clearfix"><label>श्रम स्वीकृति<span>(रु)</span></label><span></span></li>
                            <li class="clearfix"><label>पूर्व अभिमुखिकरण तालिम<span>(रु)</span></label><span></span></li>
                            <li class="clearfix"><label>कुल लगानी<span>(रु)</span></label><span></span></li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <h4>आम्दानी</h4>
                        <ul class="lisitng-full">
                            <li class="clearfix"><label>मासिक तलब<span>(रु)</span></label><input type="number" /></li>
                            <li class="clearfix"><label>बोनस/लाभांस<span>(रु)</span></label><input type="number" /></li>
                            <li class="clearfix"><label>अत्तिरिक्त कामको अवसर/ओभरटाइम<span>(रु)</span></label><input type="number" /></li>
                            <li class="clearfix"><label>कुल तलब<span>(रु)</span></label><input type="number" /></li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <h4>मासिक खर्चहरु</h4>
                        <ul class="lisitng-full">
                            <li class="clearfix"><label>आबास खर्च<span>(रु)</span></label><input type="number" /></li>
                            <li class="clearfix"><label>खाना खर्च<span>(रु)</span></label><input type="number" /></li>
                            <li class="clearfix"><label>फोन खर्च<span>(रु)</span></label><input type="number" /></li>
                            <li class="clearfix"><label>यातायात खर्च<span>(रु)</span></label><input type="number" /></li>
                            <li class="clearfix"><label>अन्य खर्च<span>(रु)</span></label><input type="number" /></li>
                            <li class="clearfix"><label>कुल खर्च<span>(रु)</span></label><input type="number" /></li>
                        </ul>
                    </div>
            </div>
                <a href="#/select-features" class="btn-default">सेभ गर्नुहोस</a>
            </div>
            
            <div ng-show="selectedLanguage == 'English'">
                <div class="content-header">
                    <div class="header-left">
                        <a href=""><span>While Abroad</span><i class="ion-ios-book"></i></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div><!--
                    --><div class="header-right"><a href=""><i class="ion ion-loop"></i>Reset</a></div>
                </div>
                <div class="content-listing-wrap">
    <!--                <div class="content-sub-header clearfix">
                        <div class="current-date">
                            <span>मिती:</span>
                            <input type="text" />
                        </div>
                        <div class="available-user clearfix">
                            <span>नाम:</span>
                            <input type="text" />
                        </div>
                    </div>-->
                    <span>Monthly Financial Tracker in Rupees</span>
                    <div class="content-listing">
                        <h4>Pre-Departure Costs</h4>
                        <ul class="lisitng-full">
                            <li class="clearfix"><label>Passport<span>(Rs)</span></label><span></span></li>
                            <li class="clearfix"><label>Health Checkup<span>(Rs)</span></label><span></span></li>
                            <li class="clearfix"><label>Skill Development<span>(Rs)</span></label><span></span></li>
                            <li class="clearfix"><label>Manpower<span>(Rs)</span></label><span></span></li>
                            <li class="clearfix"><label>Contract<span>(Rs)</span></label><span></span></li>
                            <li class="clearfix"><label>Visa Request<span>(Rs)</span></label><span></span></li>
                            <li class="clearfix"><label>Air Ticket<span>(Rs)</span></label><span></span></li>
                            <li class="clearfix"><label>Loans<span>(Rs)</span></label><span></span></li>
                            <li class="clearfix"><label>Insurance<span>(Rs)</span></label><span></span></li>
                            <li class="clearfix"><label>Welfare Cost<span>(Rs)</span></label><span></span></li>
                            <li class="clearfix"><label>Labor Permit<span>(Rs)</span></label><span></span></li>
                            <li class="clearfix"><label>Pre-Orientation Training<span>(Rs)</span></label><span></span></li>
                            <li class="clearfix"><label>Total Investment<span>(Rs)</span></label><span></span></li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <h4>Monthly Income</h4>
                        <ul class="lisitng-full">
                            <li class="clearfix"><label>Monthly Salary<span>(Rs)</span></label><input type="number" /></li>
                            <li class="clearfix"><label>Bonuses<span>(Rs)</span></label><input type="number" /></li>
                            <li class="clearfix"><label>Overtime<span>(Rs)</span></label><input type="number" /></li>
                            <li class="clearfix"><label>Total Income<span>(Rs)</span></label><input type="number" /></li>
                        </ul>
                    </div>

                    <div class="content-listing">
                        <h4>Monthly Expenses</h4>
                        <ul class="lisitng-full">
                            <li class="clearfix"><label>Housing<span>(Rs)</span></label><input type="number" /></li>
                            <li class="clearfix"><label>Food<span>(Rs)</span></label><input type="number" /></li>
                            <li class="clearfix"><label>Phone<span>(Rs)</span></label><input type="number" /></li>
                            <li class="clearfix"><label>Transportation<span>(Rs)</span></label><input type="number" /></li>
                            <li class="clearfix"><label>Any Other Expenses<span>(Rs)</span></label><input type="number" /></li>
                            <li class="clearfix"><label>Remittances<span>(Rs)</span></label><input type="number" /></li>
                            <li class="clearfix"><label>Total Expenses<span>(Rs)</span></label><input type="number" /></li>
                        </ul>
                    </div>
            </div>
                <a href="#/select-features" class="btn-default">Save</a>
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>
