<ion-view>
    <ion-content id="blocked-company">
        <div ng-show="selectedLanguage === 'Nepali'">
            <div id="contents" class="clearfix content-inner-page">
                <div class="content-header">
                    <div class="header-left header-full">
                        <a href=""><span>दूतावासहरू</span></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header clearfix">
                        <span>दूतावासहरूको सूची:</span>
                        </span>
                    </div>
                    <div class="block-listing white-listing" ng-repeat="embassy in embassies">
                        <h4><strong>{{embassy.country}}</strong></h4>
                        <span ng-show="selectedLanguage === 'Nepali'">ठेगाना : {{embassy.address}}</span>
                        <span ng-show="selectedLanguage === 'Nepali'">टेलिफोन : {{embassy.tel}}</span>
                        <span ng-show="selectedLanguage === 'Nepali'">फ्याक्स : {{embassy.fax}}</span>
                        <span ng-show="selectedLanguage === 'Nepali'" ng-if="embassy.post !=''">पोस्ट बक्स नं. :{{embassy.post}}</span>
                        <span ng-show="selectedLanguage === 'Nepali'">इमेल : {{embassy.email}}</span>
                        <span ng-show="selectedLanguage === 'Nepali'" ng-if="embassy.website !=''">वेबसाइट : {{embassy.website}}</span>
                    </div>
                </div>
                <a href="#/app/dashboard" ng-show="selectedLanguage === 'Nepali'" class="btn-default btn-back">पछाडी</a>
            </div>
        </div>

        <div ng-show="selectedLanguage === 'English'">
            <div id="contents" class="clearfix content-inner-page">
                <div class="content-header">
                    <div class="header-left header-full">
                        --><a href="" ng-show="selectedLanguage === 'English'"><span>Embassies</span></a><!--
                        --><span>{{selectedCountry}}</span>
                    </div>
                </div>
                <div class="content-listing-wrap clearfix">
                    <div class="content-sub-header clearfix">
                        <span ng-show="selectedLanguage === 'English'">List of Embasies:
                        </span>
                    </div>
                    <div class="block-listing white-listing" ng-repeat="embassy in embassies">
                        <h4><strong>{{embassy.country}}</strong></h4>
                        <span ng-show="selectedLanguage === 'English'">Address : {{embassy.address}}</span>
                        <span ng-show="selectedLanguage === 'English'">Telephone : {{embassy.tel}}</span>
                        <span ng-show="selectedLanguage === 'English'">Fax : {{embassy.fax}}</span>
                        <span ng-show="selectedLanguage === 'English'" ng-if="embassy.post !=''">Post Box No. {{embassy.post}}</span>
                        <span ng-show="selectedLanguage === 'English'">Email : {{embassy.email}}</span>
                        <span ng-show="selectedLanguage === 'English'" ng-if="embassy.website !=''">Website : {{embassy.website}}</span>
                    </div>
                </div>
                <a href="#/app/dashboard" ng-show="selectedLanguage === 'English'" class="btn-default btn-back">Back</a>
            </div>
        </div>
        <div class="blank-space"></div>
    </ion-content>
</ion-view>