html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 14px;
}


/*========== Start Default ==========*/
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px; 
    line-height: 22px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

a,
a:hover, 
a:focus {
    text-decoration: none;
    transition: 400ms ease;
    outline: none;
}

ul:last-child {
    margin: 0;
}

.resposnive-img {
    width: 100%;
    height: auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

ion-content.scroll-content {
    top: 50px;
    padding: 10px;
    background-color: rgb(50, 108, 181);
}

.blank-space {
    width: 100%;
    height: 50px;
    display: block;
}

.item.item-checkbox {
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 14px;
}

.item-checkbox .checkbox {
    position: absolute;
    left: auto;
    right: 8px;
    top: 0;
    margin: 0;
    padding: 0;
}

.checkbox input, .checkbox-icon {
    width: 20px;
    height: 20px;
}

.checkbox input::before, .checkbox-icon::before {
    border-radius: 3px;
}

.checkbox input:after, .checkbox-icon:after,
.platform-android .checkbox-platform input:after, 
.platform-android .checkbox-platform .checkbox-icon:after, 
.checkbox-square input:after, .checkbox-square .checkbox-icon:after {
    width: 12px;
    height: 6px;
    top: 16%;
    left: 18%;
    border-width: 2px;
}

.checkbox input:checked::before, .checkbox input:checked + .checkbox-icon::before {
    background: rgb(50, 108, 181) none repeat scroll 0 0;
    border-color: rgb(50, 108, 181);
}

.item-stacked-label label.count-label {
    margin: 0 0 5px;
}

.item-stacked-label label.count-label + input {
    width: 100%;
}

#contents .content-sub-header a {
    float: right;
}

.table-wrap {
    margin: 0 0 15px;
}

.table-wrap:last-child {
    margin: 0;
}

.table-wrap ion-scroll {
    width: 100%;
}

.table-wrap span {
    width: 50%;
    display: inline-block;
    color: rgb(235, 148, 35);
    vertical-align: top;
}

.table-wrap span + span {
    color: rgb(119, 119, 119);
    text-align: right;
}

table {
    width: 100%;
}

.remove-first-tr tbody tr:first-child {
    display: none;
}

table tr {
    border-bottom: 1px solid rgb(233, 235, 237);
}

thead tr th {
    border-left: 1px solid rgb(233, 235, 237);
}

tbody tr td table tr {
    border: none;
}

tbody tr td table tr td {
    padding: 6px 5px;
}

table th {
    padding: 10px 5px;
    background-color: rgb(249, 162, 49);
    color: rgb(65, 65, 65);
}

table thead th {
    width: 200px;
    vertical-align: middle;
}

table tbody tr td {
    width: 150px;
    padding: 5px;
    color: rgb(119, 119, 119);
    border-left: 1px solid rgb(233, 235, 237);
    border-right: 1px solid rgb(233, 235, 237);
    text-align: center;
}

.highlighted-table {
    background-color: rgb(231, 153, 51);
    color: rgb(255, 255, 255);
}

.table-wrap table tbody td span {
    width: auto;
    color: rgb(235, 148, 35);
    float: none;
}

p a,
.content-listing p a {
    width: auto;
    display: inline-block;
    margin: 0 5px 0 0;
    color: rgb(52, 110, 183);
    text-align: left;
    vertical-align: top;
}

.custom-form-group {
    width: 100%;
    display: block;
    position: relative;
    margin: 0 0 22px;
    text-align: left;
}

.custom-form-group label {
    width: 100%;
    display: block;
    margin: 0 0 10px;
}

.custom-form-group select, .custom-form-group input {
    width: 100%;
    display: block;
    padding: 5px 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    color: rgb(119, 119, 119);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2) inset;
}

.inline-from-group {
    width: 48%;
    display: inline-block;
    margin: 0 10px 22px 0;
    vertical-align: top;
}

.custom-form-group.inline-from-group + .inline-from-group {
    margin: 0 0 22px;
}

select {
    background-color: transparent;
}

.default-radio .item.item-radio {
    display: inline-block;
    margin: 0 10px 0 0;
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
}

.default-radio .item-radio input:checked + .radio-content .item-content {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.default-radio .item-radio .item-content {
    background-color: transparent;
}

.default-radio .radio-content i {
    width: 24px;
    height: 22px;
    position: absolute;
    right: 10px;
    top: 50%;
    padding: 3px 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
    line-height: 0;
    font-size: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    visibility: visible;
}

.default-radio .item-radio input:checked + .radio-content .radio-icon {
    font-size: 14px
}

.btn-default {
    width: 180px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background: rgb(124,186,99);
    background: -moz-linear-gradient(top, rgb(124,186,99) 0%, rgb(98,150,81) 100%);
    background: -webkit-linear-gradient(top, rgb(124,186,99) 0%,rgb(98,150,81) 100%);
    background: linear-gradient(to bottom, rgb(124,186,99) 0%,rgb(98,150,81) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cba63', endColorstr='#629651',GradientType=0 );
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.3);
    transition: 200ms ease;
    text-align: center;
}

.btn-back {
    background: rgb(65, 93, 153);
}

.text-center {
    text-align: center;
}

@media(max-width: 480px ) {
    table {
        width: 480px;
    }
}
/*========== End Default ==========*/

/*========== Start Startup wizard ==========*/
.startup-wrap {
    width: 300px;
    padding: 30px 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.4);
    text-align: center;
}

.startup-wrap img {
    width: 150px;
    display: block;
    margin: 0 auto 30px;
}

.info-title {
    width: 100%;
    display: block;
    margin: 0 0 30px;
    color: rgb(65, 93, 153);
    font-size: 16px;
    line-height: 24px;
}

[view-title="Select Language"]  ion-content.scroll-content, 
[view-title="Number Registration"]  ion-content.scroll-content,
[view-title="Confirmation"]  ion-content.scroll-content,
[view-title="Registration"]  ion-content.scroll-content,
[view-title="Select Country"]  ion-content.scroll-content {
    top: 0;
}

[view-title="Select Language"] ion-content.scroll-content .scroll,
[view-title="Number Registration"] ion-content.scroll-content .scroll,
[view-title="Confirmation"] ion-content.scroll-content .scroll,
[view-title="Registration"] ion-content.scroll-content .scroll,
[view-title="Select Country"] ion-content.scroll-content .scroll {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startup-wrap h2 {
    color: rgb(65, 93, 153);
}

.language-selection {
    display: block;
    margin: 0 0 20px;
}

.language-selection .list .item.item-radio {
    margin: 0;
    border: 1px dashed rgb(204, 204, 204);
}

.language-selection .list .item.item-radio:first-child {
    border-bottom: none;
}

.language-selection .list .item.item-radio .item-content {
    padding: 15px 64px 15px 50px;
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 22px;
    text-align: left;
}

.language-selection .list .item-radio input:checked + .radio-content .item-content {
    background-color: transparent;
    box-shadow: none;
}

.language-selection .list .item.item-radio:first-child .item-content {
    background-image: url("../img/icons/flag-nepal.png");
}

.language-selection .list .item.item-radio:last-child .item-content {
    background-image: url("../img/icons/flag-us.png");
    background-size: 26px;
}

.language-selection .list .item-radio .radio-icon {
    width: 20px;
    height: 20px;
    right: 15px;
    top: 18px;
    padding: 0;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 50%;
    font-size: 0;
    line-height: 18px;
    visibility: visible;
    transition: 300ms ease;
}

.language-selection .item-radio input:checked + .radio-content .radio-icon {
    font-size: 15px;
}

.startup-wrap a,
.startup-wrap button {
    width: 150px;
    height: 34px;
    display: block;
    margin: 10px auto 0;
    padding: 0;
    box-shadow: 0 5px 3px -2px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 3px;
    background-color: rgb(65, 93, 153);
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-transform: uppercase;
    line-height: 34px;
}

.startup-wrap button[ng-disabled][disabled="disabled"] {
    background-color: rgb(204, 204, 204);
    border: medium none;
}

[view-title="Registration"] form input,
[view-title="Registration"] form select {
    width: 100%;
    height: 34px;
    padding: 0 10px;
}

.phonenumber-wrap input {
    padding: 5px 10px 5px 60px;
}

.startup-wrap .selected-content {
    width: 100%;
    color: rgb(119, 119, 119);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2) inset;
}

#country-code {
    display: block;
    position: absolute;
    left: 10px;
    top: 50%;
    color: rgb(119, 119, 119);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.validations {
    position: relative;
}

.has-error input,
.has-error select {
    border: 1px solid rgb(221, 79, 69);
    box-shadow: 0 0 8px 0 rgba(221, 79, 69, 0.2) inset;
}

.error {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(221, 79, 69);
    font-size: 12px;
}
/*========== End Startup wizard ==========*/

/*========== Start Session ==========*/
[view-title="Session Listing"]  ion-content.scroll-content {
    top: 0;
    background: rgb(251,253,254);
    background: -moz-linear-gradient(top, rgb(251,253,254) 0%, rgb(238,242,247) 100%);
    background: -webkit-linear-gradient(top, rgb(251,253,254) 0%,rgb(238,242,247) 100%);
    background: linear-gradient(to bottom, rgb(251,253,254) 0%,rgb(238,242,247) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdfe', endColorstr='#eef2f7',GradientType=0 );
}

[view-title="Session Listing"]  ion-content.scroll-content + ion-content.scroll-content {
    width: 100%;
    height: 100%;
    top: 50px;
    padding: 10px;
    background: rgb(50, 108, 181);
}

[view-title="Session Listing"]  ion-content.scroll-content + ion-content.scroll-content .scroll {
    height: 100%;
}

.btn-label {
    display: inline-block;
    margin: 7px 0 0;
    vertical-align: middle;
}

.btn-add-project {
    padding: 7px 15px;
    background-color: rgb(65, 93, 153);
    border-radius: 3px;
    box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    float: right;
}

.session-wrap {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    background-color: #F8F9FB;
    border-radius: 3px;
}

.session-wrap h2 {
    padding: 0 10px;
    font-size: 15px;
}

.lisiting-session {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px;
    background-color: rgb(65, 93, 153);
    color: rgb(255, 255, 255);
}

.session-date {   
    width: 20%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgb(101, 130, 188);
    vertical-align: top;
}

.session-detail {
    width: 80%;
    height: 100%;
    display: inline-block;
}

.session-name {
    padding: 5px 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.session-country {
    padding: 5px 10px;
}

.session-name span,
.session-country span {
    width: 30%;
    display: inline-block;
}

.session-name span:last-child,
.session-country span:last-child {
    width: 70%;
}

/*========== End Session ===========*/

/*========== Start Modal Default ==========*/

ion-modal-view.modal {
    background-color: rgb(242, 242, 242);
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2);
}

.modal-default ion-header-bar.bar.bar-header {
    height: 50px;
    background: rgb(251,253,254);
    background: -moz-linear-gradient(top, rgb(251,253,254) 0%, rgb(238,242,247) 100%);
    background: -webkit-linear-gradient(top, rgb(251,253,254) 0%,rgb(238,242,247) 100%);
    background: linear-gradient(to bottom, rgb(251,253,254) 0%,rgb(238,242,247) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdfe', endColorstr='#eef2f7',GradientType=0 );
}

.modal-default .title {
    width: 100%;
    top: auto !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0;
    text-align: center !important;
}

.modal-default ion-content.scroll-content {
    background-color: rgb(50, 108, 181);
    padding: 10px;
}

.modal-default ion-content.scroll-content + ion-content.scroll-content {
    top: 110px;
}

.modal-default .list h3 {
    margin: 0;
    padding: 15px;
    background-color: rgb(241, 245, 249);
    color: rgb(52, 110, 183);
    font-weight: bold;
}

.modal-default .list h3 i {
    float: right;
    font-size: 24px;
}

.button.button-clear.btn-close {
    top: 10px !important;
    right: 10px !important;
    color: rgb(222, 41, 30);
    font-size: 30px;
}

.searchHolder {
    margin: 0;
    border-radius: 3px;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.3);
}

.modal-default .list {
    padding: 10px 0 0;
    border-radius: 3px;
}

.content-listing.inline-checkbox .item.item-checkbox {
    width: 50px;
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: rgb(119, 119, 119);
}

.content-listing.inline-checkbox .item-checkbox .checkbox {
    width: 100%;
    right: 0;
    padding: 0;
}

.content-listing.inline-checkbox .item-content {
    text-align: right;
}

.modal-default .item-radio {
    margin: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.modal-default .item-complex .item-content, 
.modal-default .item-radio .item-content {
    background: rgb(251,253,254);
    background: -moz-linear-gradient(top, rgb(251,253,254) 0%, rgb(238,242,247) 100%);
    background: -webkit-linear-gradient(top, rgb(251,253,254) 0%,rgb(238,242,247) 100%);
    background: linear-gradient(to bottom, rgb(251,253,254) 0%,rgb(238,242,247) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdfe', endColorstr='#eef2f7',GradientType=0 );
}

.item-radio input:checked + .radio-content .item-content {
    background: rgb(232, 238, 244) none repeat scroll 0 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2) inset;
}

/*========== End Modal Default ==========*/

/*========== Start Header/Nav ==========*/
[nav-bar-transition="android"] [nav-bar="active"] .bar, 
[nav-bar-transition="android"] [nav-bar="entering"] .bar,
[nav-bar-transition="ios"] [nav-bar="active"] .bar, 
[nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    height: 50px;
    padding: 5px 10px;
    background: rgb(251,253,254);
    background: -moz-linear-gradient(top, rgb(251,253,254) 0%, rgb(238,242,247) 100%);
    background: -webkit-linear-gradient(top, rgb(251,253,254) 0%,rgb(238,242,247) 100%);
    background: linear-gradient(to bottom, rgb(251,253,254) 0%,rgb(238,242,247) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdfe', endColorstr='#eef2f7',GradientType=0 );
    border: none;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.2);
}

.bar.bar-stable .title,
.bar-stable .button.button-clear {
    left: 0 !important;
    right: 0 !important;
    margin: 0 0 0 10px;
    color: rgb(50, 108, 181);
    text-align: center;
}

.bar.bar-stable .title, .bar-stable .button.button-clear.header-item {
  margin: 0;
}

span.back-text {
    display: none !important;
}

.logo-wrap {
    width: 100px;
    display: inline-block;
    padding: 3px 0 0;
}

.logo-wrap img {
    width: 100%;
}

.btn-home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 50%;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(50, 108, 181);
    border: none;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 1;
}

.btn-home i {
    font-size: 26px;
}

.bar-stable.bar.bar-header .menu-toggler {
    margin: 0;
}

.menu-toggler span {
    width: 22px;
    height: 2px;
    display: block;
    margin: 0 0 3px;
    background-color: rgb(50, 108, 181);
    transition: 400ms ease;
}

.menu-open .menu-toggler span:first-child {
    width: 13px;
    transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
}

.menu-open .menu-toggler span:last-child {
    width: 13px;
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
}

.bar.bar-stable {
    height: 50px;
}

.menu .bar-header {
    background-color: rgb(239, 243, 248);
    border-bottom: 1px solid rgb(234, 234, 234);
}

#main-menu {
    padding: 0 0 10px 10px;
    background-color: rgb(239, 243, 248);
}

#main-menu ion-item.item {
    margin: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(234, 234, 234);
}

#main-menu ion-item.item a {
    padding: 10px 10px 10px 0;
    background-color: transparent;
    color: rgb(50, 108, 181);
}
/*========== End Header/Nav ==========*/

/*========== Start Features ==========*/
[view-title="Selected Features"] ion-content.scroll-content {
    top: 0;
}

[view-title="Selected Features"] ion-content.scroll-content .scroll {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected-features-wrap {
    width: 260px;
    margin: 0 auto;
    padding: 30px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(50, 108, 181);
    border-radius: 3px;
    box-shadow: 0 9px 11px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.selected-features-wrap img {
    width: 150px;
    margin: 0 auto 25px;
}

.selected-features-wrap h2 {
    color: rgb(50, 108, 181);
}

.selected-features-wrap a {
    width: 200px;
    display: block;
    margin: 0 auto 15px;
    padding: 10px 15px;
    background: rgb(65,93,153);
    background: -moz-linear-gradient(top, rgb(65,93,153) 0%, rgb(50,108,181) 100%);
    background: -webkit-linear-gradient(top, rgb(65,93,153) 0%,rgb(50,108,181) 100%);
    background: linear-gradient(to bottom, rgb(65,93,153) 0%,rgb(50,108,181) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#415d99', endColorstr='#326cb5',GradientType=0 );
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 4px 2px 0 rgba(0,0,0,.3);
    transition: 400ms ease;
}

.selected-features-wrap a:last-child {
    margin: 0 auto;
}

.selected-features-wrap a:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5) inset;
}

@media(min-width:768px) {
    .selected-features-wrap {
        width: 300px;
    }
}
/*========== End Features ==========*/

/*========== Start Dashboard ==========*/
#dashboard #contents {
    text-align: center;
}

#contents {
    width: 100%;
    display: block;
    padding: 0 0 30px;
    background: rgb(249,251,253);
    background: -moz-linear-gradient(left, rgb(249,251,253) 0%, rgb(248,249,251) 100%);
    background: -webkit-linear-gradient(left, rgb(249,251,253) 0%,rgb(248,249,251) 100%);
    background: linear-gradient(to right, rgb(249,251,253) 0%,rgb(248,249,251) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fbfd', endColorstr='#f8f9fb',GradientType=1 );
    border-radius: 3px;
    box-shadow: 0 9px 11px 0 rgba(0, 0, 0, 0.2);
}

.content-header {
    padding: 10px 15px;
}
.header-left {
    width: 80%;
    display: inline-block;
    color: rgb(119, 119, 119);
    text-align: left;
}

.header-full {
    width: 100%;
}

.header-left a {
    min-width: 60%;
    display: inline-block;
    margin: 0 0 2px;
    color: rgb(52, 110, 183);
}

.header-left a span {
    min-width: 50%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.header-left i {
    display: inline-block;
    margin: 0 0 0 10px;
    color: rgb(50, 108, 181);    
    font-size: 18px;
    vertical-align: top;
}

.header-left i.ion-ios-book {
    width: 20px;
    height: 20px;
    padding: 1px;
    background-color: rgb(50, 108, 181);
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 50%;
    text-align: center;
}

.header-left span {
    min-width: 40%;
    display: inline-block;
    text-align: right;
}

.header-right {
    width: 20%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

.header-right span {
    margin: 0 0 0 5px;
    color: rgb(52, 110, 183);
}

.header-right a {
    color: rgb(50, 108, 181);
}

.header-right a i {
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
    font-size: 18px;
}

.content-listing-wrap {
    display: block;
    margin: 0 0 40px;
    border-bottom: 1px solid rgb(233, 233, 233);
}

.dashboard-listing-group {
    width: 100%;
    display: block;
}

.dashboard-listing {
    width: 33.33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
    border: 1px solid rgb(233, 233, 233);
    border-right: none;
    border-bottom: none;
    float: left;
    text-align: center;
    vertical-align: top;
    transition: 200ms ease;
}

.content-listing-wrap .dashboard-listing-group:first-child a.dashboard-listing,
.content-listing-wrap .dashboard-listing-group a.dashboard-listing:last-child {
    background: rgb(215,214,219);
    background: -moz-linear-gradient(left, rgba(215,214,219,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(215,214,219,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(215,214,219,1) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d6db', endColorstr='#ffffff',GradientType=1 );
}

.dashboard-listing-group .dashboard-listing:first-child {
    border-left: none;
}

.dashboard-listing:hover,
.content-listing-wrap .dashboard-listing-group:first-child a.dashboard-listing:hover,
.content-listing-wrap .dashboard-listing-group a.dashboard-listing:last-child:hover {
    background: rgb(204, 204, 204);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3) inset;
}

.dashboard-listing img {
    width: 60px;
    margin: 0 auto 5px;
}

.dashboard-listing span {
    display: block;
    color: rgb(119, 119, 119);
}

.dashboard-listing img + span {
    max-height: 40px;
    min-height: 40px;
    width: 100%;
    padding: 0 5px;
    color: rgb(52, 110, 183);
    text-overflow: ellipsis;
    overflow: hidden;
}

#dashboard .btn-default {
    width: 120px;
    display: inline-block;
    margin: 0 10px
}
/*========== Css by rojeena ==========*/

.dash-button {
    width: 136px !important;
}

@media(min-width:345px){
    .dash-button-eng {
        width: 161px !important;
}
}

@media(max-width:345px){
    .dash-button-eng-size {
        font-size:11px;
}
}

.btn-secondary {
    background: rgb(50, 108, 181) ;
}

.btn-default:hover {
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5) inset;
}

#dashboard #contents .btn-default {
  display: inline-block;
}
/*========== End Dashboard ==========*/

/*========== Start Default Inner Page ==========*/

#contents.content-inner-page {
    padding: 10px 15px 30px;
}

#contents.content-inner-page .content-header {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid rgb(233, 233, 233);
}

#contents.content-inner-page .content-listing-wrap {
    border: none;
}

.content-sub-header {
    width: 100%;
    margin: 0 0 15px;
}

.content-sub-header span {
    width: 90%;
    display: inline-block;
    color: rgb(52, 110, 183);
}

.content-sub-header a {
    width: 10%;
    display: inline-block;
    color: rgb(50, 108, 181);
    font-size: 22px;
    text-align: right;
    vertical-align: top;
}

.content-listing {
    width: 100%;
    position: relative;
    margin: 0 0 20px;
    padding: 0 0 20px;
}

.content-listing:after {
    width: 80%;
    height: 1px;
    background-color: rgb(234, 234, 234);
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    visibility: visible;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.content-listing span {
    color: rgb(119, 119, 119);
}

.content-listing p {
    color: rgb(119, 119, 119);
    line-height: 24px;
}

.selected-content-wrap {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.training-centers {
    margin: 20px 0 0;
}

.selected-content {
    width: 48%;
    height: 34px;
    padding: 5px 10px;
    display: inline-block;
    margin: 0 10px 0 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2) inset;
    vertical-align: middle;
}

.content-listing .btn-default {
    width: 48%;
    height: 34px;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 14px;
    vertical-align: middle;
}

.content-listing.stacked-content .selected-content {
    width: 100%;
    display: block;
    margin: 0 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.optional-box {
    width: 100%;
    margin: 15px 0;
    padding: 5px 10px !important;
    border-radius: 3px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2) inset;
}

.content-listing.stacked-content .btn-default {
    min-width: 200px;
    display: block;
}

.highlighted-sub-title {
    display: block;
    margin: 0 0 5px;
}

.content-listing a.listings {
    width: 100%;
    display: block;
    padding: 10px 54px 10px 15px;
    border: none;
    border-radius: 3px;
    background: rgb(248,250,251);
    background: -moz-linear-gradient(top, rgb(248,250,251) 0%, rgb(226,233,240) 100%);
    background: -webkit-linear-gradient(top, rgb(248,250,251) 0%,rgb(226,233,240) 100%);
    background: linear-gradient(to bottom, rgb(248,250,251) 0%,rgb(226,233,240) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8fafb', endColorstr='#e2e9f0',GradientType=0 );
    text-align: left;
}

.content-listing a.listings i.icon {
    font-size: 18px;
}

.highlighted-info {
    color: rgb(52, 110, 183);
}

.highlighted-info i {
    color: rgb(144, 167, 197);
    display: inline-block;
    font-size: 18px;
    margin: 0 0 0 10px;
    vertical-align: top;
}

.content-listing .col-33 {
    width: 33.33%;
    padding: 5px;
    float: left;
}

.content-listing .col-33 label {
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 10px;
    color: rgb(119, 119, 119);
    text-align: center;
}

.content-listing .col-33 label select {
    width: 100%;
    margin: 0 0 -2px;
    border: medium none;
    color: rgb(119, 119, 119);
    text-align: center;
}

.content-listing .col-33 input {
    width: 100%;
    margin: 0 0 5px;
    padding: 5px 10px;
    border: 1px solid rgb(216, 216, 216);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2) inset;
}

.block-listing {
    margin: 0 0 15px;
    border: 1px solid rgb(137, 127, 113);
    border-radius: 3px;
    box-shadow: 0 1px 6px -2px rgba(0, 0, 0, 0.2);
    background-color: rgb(137, 127, 113);
    color: rgb(255, 255, 255);
}

.block-listing.white-listing {
    background-color: rgb(255, 255, 255);
    color: rgb(137, 127, 113);
}

.block-listing h4 {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid rgb(208, 208, 208);
    color: rgb(255, 255, 255);
    text-align: center;
}

.block-listing.white-listing h4 {
    color: rgb(137, 127, 113);
}

.block-listing span {
    display: block;
    padding: 5px;
    border-bottom: 1px solid rgb(208, 208, 208);
    text-align: center;
}

.block-listing span:last-child {
    border: none;
}

.btn-default.btn-load {
    margin: 17px auto 0;
    background: rgb(137, 127, 113);
}

@media (min-width: 600px) and (orientation: landscape) {
    .content-listing.stacked-content .selected-content-wrap {
        width: 48%;
        display: inline-block;
        margin: 0 10px 0 0;
    }
    
    .content-listing.stacked-content .selected-content {
        margin: 0;
    }
    
    .optional-box {
        margin: 15px 0 0;
    }

    .content-listing.stacked-content .btn-default {
        min-width: auto;
        width: 48%;
        display: inline-block;
    }
}

/*========== End Default iInner Page ==========*/

/*========== Start Passport ==========*/
#passport-info .content-listing {
    width: 100%;
    margin: 0 0 24px;
}

.circle-wrap {
    width: 20%;
    display: inline-block;
    padding: 0 15px 0 0px;
    vertical-align: top;
    text-align: center;
}

.content-listing .circle-number {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 10px;
    background-color: rgb(124, 186, 99);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(158, 223, 132);
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    vertical-align: top;
}

.content-listing h4 {
    color: rgb(52, 110, 183);
}

.content-listing h4 span {
    color: rgb(119, 119, 119);
}

.content-listing span i {
    margin: 0 0 0 2px;
    padding: 2px 4px;
    background-color: rgb(50, 108, 181);
    color: rgb(255, 255, 255);
    border-radius: 3px;
}

.content-listing .circle-wrap + ul {
    width: 80%;
    display: inline-block;
    vertical-align: top;
}

.content-listing ul {
    width: 75%;
    display: inline-block;
    vertical-align: middle;
}

.content-listing ul.lisitng-full {
    width: 100%;
}

.content-listing ul li {
    position: relative;
    margin: 0 0 10px;
    padding: 0 0 0 18px;
    color: rgb(119, 119, 119);
}

.content-listing ul li:before {
    width: 8px;
    height: 8px;
    position: absolute;
    left: 3px;
    top: 6px;
    background-color: rgb(124, 186, 99);
    border-radius: 50%;
    content: "";
}

.content-listing i.ion.ion-ios-book {
    display: inline-block;
    margin: 0 0 0 5px;
    padding: 6px 0;
    vertical-align: middle;
}

.content-listing a {
    width: 25%;
    display: inline-block;
    color: rgb(119, 119, 119);
    text-align: right;
    vertical-align: middle;
}

.content-listing a i {
    color: rgb(50, 108, 181);
}

.content-listing a i.ion-ios-book {
  height: 20px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle;
  width: 20px;
}

.content-listing a i {
    font-size: 20px;
    margin: 0 0 0 5px;
}

.content-listing .item.item-checkbox {
    padding: 10px;
    background: rgb(248,250,251);
    background: -moz-linear-gradient(top, rgb(248,250,251) 0%, rgb(226,233,240) 100%);
    background: -webkit-linear-gradient(top, rgb(248,250,251) 0%,rgb(226,233,240) 100%);
    background: linear-gradient(to bottom, rgb(248,250,251) 0%,rgb(226,233,240) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8fafb', endColorstr='#e2e9f0',GradientType=0 );
    color: rgb(119, 119, 119);
    border-radius: 3px;
}

.content-listing .item-checkbox .checkbox.checkbox-input-hidden + .item-content {
    white-space: normal;
}

.content-listing .item-checkbox .checkbox.checkbox-input-hidden + .item-content span {
    width: 90%;
    display: inline-block;
}

.content-listing .item-checkbox .checkbox {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.count-label {
    width: 70%;
    display: inline-block;
    position: relative;
    padding: 0 29px 0 0;
    color: rgb(52, 110, 183);
}

.count-label span {
    position: absolute;
    right: 7px;
    top: 0;
    color: rgb(52, 110, 183);
}

span.result-month {
    display: block;
    position: relative;
    right: 0;
    top: 0;
}

.count-label + input,
.result-data-static {
    width: 30%;
    height: 34px;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: inset  0 0 3px 0 rgba(0,0,0,.2);
    vertical-align: top;
}
/*========== End Passport ==========*/

/*========== Start While Abroad ==========*/
/*.available-user {
    width: 100%;
    display: block;
}*/

.content-sub-header .available-user span {
    width: 20%;
    margin: 5px 0 0;
    float: left;
}

.content-sub-header .available-user input {
    width: 80%;
    padding: 5px 10px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 3px;
    float: left;
    box-shadow: inset 0 0 8px 0 rgba(0,0,0,.2);
}

/*.current-date {
    width: 100%;
    margin: 0 0 20px;
    text-align: right;
}*/

.content-sub-header .current-date span {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.content-sub-header .current-date input {
    width: 100px;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 3px;
    box-shadow: inset 0 0 8px 0 rgba(0,0,0,.2);
    vertical-align: middle;
}

#while-abroad .content-sub-header + span {
    position: relative;
    display: block;
    margin: 0 0 15px;
    padding: 15px 0 0;
    color: rgb(52, 110, 183);
}

#while-abroad .content-sub-header + span::before {
    width: 80%;
    height: 1px;
    position: absolute;
    left: 50%;
    top: 0;
    background-color: rgb(234, 234, 234);
    content: "";
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#while-abroad .lisitng-full li {
    width: 100%;
}

#while-abroad .lisitng-full label {
    width: 60%;
    display: inline-block;
    position: relative;
    padding: 0 30px 0 0;
}

#while-abroad .lisitng-full span,
#while-abroad .lisitng-full input {
    width: 40%;
    height: 34px;
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(242, 242, 242);
    float: right;
}

#while-abroad .lisitng-full input {
    border: 1px solid rgb(216, 216, 216);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2) inset;
}

#while-abroad .lisitng-full label span {
    width: auto;
    height: auto;
    position: absolute;
    right: 5px;
    top: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
}

@media screen and (max-aspect-ratio: 13/9) {
    .available-user {
        width: 100%;
    }
    
    .current-date {
        width: 100%;
        margin: 0 0 20px;
        text-align: right;
    }
}

@media screen and (min-width: 768px), (min-aspect-ratio: 13/9) {
    .available-user {
        width: 60%;
        float: left;
    }
    
    .current-date {
        width: 40%;
        margin: 0;
        text-align: right;
        float: right;
    }
}
/*========== End While Abroad ==========*/

/*========== Start Pre Departure ==========*/
#pre-departure .content-listing h4 {
    margin: 10px 0;
    color: rgb(119, 119, 119);
}
/*========== End Pre Departure ==========*/

/*========== Start Ionic Popup ==========*/
.popup-container .popup {
    padding: 15px 0;
    border-radius: 3px;
    text-align: center;
}

.popup .popup-head {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    padding: 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(227, 6, 19);
    border-radius: 50%;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.popup h3.popup-title i {
    color: rgb(227, 6, 19);
    font-size: 18px;
}

.popup .popup-body {
    margin: 0 0 10px;
    padding: 10px;
}

.popup .popup-buttons {
    min-height: auto;
    padding: 0 10px;
}

.popup-buttons .button.ng-binding.button-positive {
    background-color: rgb(122, 122, 122);
    border: medium none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
}
/*========== End Ionic Popup ==========*/

/*========== Start IOS Fixes ==========*/
.platform-ios [view-title="Session Listing"] {
    background-color: rgb(50, 108, 181);
}

.platform-ios [view-title="Session Listing"] ion-content.scroll-content {
    top: 30px;
}

.platform-ios [view-title="Session Listing"] ion-content.scroll-content + ion-content.scroll-content {
    top: 80px;
}

.platform-ios logo-wrap {
    padding: 0;
}

.platform-ios .btn-home {
    top: 20px;
    right: 0;
    padding: 8px 10px 8px 8px;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.platform-ios .scroll-bar-v {
    display: none;
}
/*========== End IOS Fixes ==========*/